<html>
  <head>
    <meta http-equiv="content-type" content="text/html; charset=UTF-8">
  </head>
  <body>
    dear All, 
           <p>We have an announcement for you, for more info <%= link_to "Click Here", announcement_url(@announcement) %></p><br>
           
    <div> <b>Title: </b><%= @announcement.title %> </div>
    <div> <b>Description :</b><%= raw @announcement.description %> </div> 
  </body>
</html>
