<html>
  <head>
    <meta http-equiv="content-type" content="text/html; charset=UTF-8">
  </head>
  <body>
    Hello Team, 
           <p>We have an announcement for you.</p>
           
    <div> <b>Title: </b><%= @announcement.title %> </div>
    <div> <b>Description :</b><%= raw @announcement.description %> </div> 
  </body>
</html>
