<h3><font face="verdana" color="blue"> Amzur Family Wishes Happy Birthday To <%= @employee.full_name %> </font></h3>
<%= image_tag attachments['birthday.jpg'].url, :width => 1000, :height => 525  %>  


