Hello Team, 
           there is an event which is conducted by Amzur Technologies and the details are given below.

<h4> Event Name:<%= @amzurevent.title %> </h4>
<h4> Event Description:<%= raw @amzurevent.description %> </h4> 
<h4> Event Date:<%= (@amzurevent.held_on) %> </h4> 
