<html>
  <head>
    <meta http-equiv="content-type" content="text/html; charset=UTF-8">
  </head>
  <body>
    Hello Team, 
              <p> there is an event which is conducted by Amzur Technologies and the details are given below,for more info <%= link_to "Click Here", amzur_event_url(@amzurevent) %></p><br>

    <div> <b>Event Name: </b><%= @amzurevent.title %> </div>
    <div> <b> Event Date:</b> <%= (@amzurevent.held_on) %> </div>
    <div> <b> Event Description:</b><%= raw @amzurevent.description %> <br></div> 
    
  </body>
</html>
