
<!DOCTYPE html>
<html>
  <body>
  Dear All, 
  <p>the following are the list of holidays for <%= @events.first.event_date.to_date.year%> year.</p><br> 
  <h3>Holidays List - <%= @events.first.event_date.to_date.year%>  </h3>
  <table border="1">

      <thead>

      <tr>
          <th>Festival Name </th>
          <th>Festival Date </th>        
      </tr>
      </thead>
      <% @events.each do |event| %>
      <tr>
       
          <td><%= event.event_name %></td>           
          <td><%= event.event_date %></td> 
          
     <% end %>     
      </tr>                   
  </table>
  </body>
</html>
