Hello Team,<br>
&nbsp;&nbsp; &nbsp; &nbsp; &nbsp; &nbsp; &nbsp;&nbsp; &nbsp; The primary motive of Amzur Technologies is to make it's employees comfortable with the working environment, knowledgeable about the on going /New policies and practices. We would like to bring to your notice that we are launching/modifying couple of policies.Below are the new policies
           

<h4> Policy Title:<%= @policy.title %> </h4>
<h4> Policy Description:<%= raw @policy.details %> </h4> 
<h4> Attachment:</h4><%= @policy.document %> 
