<div class="wrapper">
  <div class="container">
    <div class="row">
      <div class="span12">
		    <div class="content">
			    <div class="module">
				    <div class="module-head">
					    <h3>Announcement Details</h3>
						</div>
				    <div class="module-body">						
              <%= form_for @announcement,  :data => {:toggle => "validator"}, :html => {:class=>"form-horizontal row-fluid"} do |f| %>				
              <div class="control-group">
              <label class="control-label" for="basicinput">Announcement Title</label>
                <div class="controls">
                  <%= f.text_field :title, :class => "span8 form-control", :placeholder =>"Enter Title", :data => {:error => "Please Enter Annoucement Title"}, :required => true %>
                  <span class="help-block with-errors"></span>
                </div>
	            </div>									        	
		          <div class="control-group">
								<label class="control-label" for="basicinput">Description</label>
								<div class="controls">
								  <%= f.bootsy_area :description, :class => "span8 form-control", :placeholder =>"Enter Description", :data => {:error => "Please Enter Announcement  Description"}, :required => true,:style => "margin: 0px 0px 10px; width: 640px; height: 221px;" %>
								  <span class="help-block with-errors"></span>   
								</div>
							</div>							
						 <ul class="navigation-btns pull-left" >
							  <li><button type="submit" class="btn btn-success">Save</button></li>
							  <li><%= link_to "Cancel", announcements_path,:class => "btn btn-danger" %></li>
							</ul>																 									
  						<% end %>
						</div><!--/.module-body-->
					</div><!--/.module-->
				</div><!--/.content-->
			</div><!--/.span12-->
		</div><!--/.row-->
	</div><!--/.container-->
</div><!--/.wrapper-->
	


