<div class="module-head">
  <h3>Appraisals List</h3>
  <label style="font-weight:normal;margin-top:-20px;" class = "pull-right"><a href="#"><i class="icon-plus-sign"></i></a> <%= link_to 'New Appraisal Template',  new_appraisal_path, remote: true %></label>
</div>
<div class="module-body">
<% if @appraisals.present? %>
<table border="0" class="table  table-striped">
  <thead>
    <tr>
      <th>Title</th>
      <th>Description</th>
      <th></th>
    </tr>
  </thead>
  <tbody>
  <% @appraisals.each do |appraisal| %>
    <tr>
    <td><%= appraisal.title %></td>
    <td><%= appraisal.description %></td>
    <td><%= link_to 'edit', edit_appraisal_path(appraisal), remote: true %></td>
  <% end %>
  </tbody>
</table>
<% else %>
  <div class="alert alert-success alert-dismissable">
      <button type="button" class="close" data-dismiss="alert" aria-hidden="true">&times;</button>
        Appraisal Templates Not Created Yet 
    </div>
<% end %>
</div><!--/.module-body-->
