<div class="panel panel-info">  
  <div class="panel-heading"> 
    Appraisals List <%= link_to ' New Appraisal Template',  new_appraisal_path, :class=>"fa fa-plus pull-right", remote: true %> 
  </div>
  <div class="panel-body">
  <% if @appraisals.present? %>
    <table class="display table table-bordered table-striped">
      <thead>
        <tr>
          <th width="100px;">Title</th>
          <th>Description</th>
          <th width="100px;"></th>
        </tr>
      </thead>
      <tbody>
      <% @appraisals.each do |appraisal| %>
        <tr>
          <td><%= appraisal.title %></td>
          <td><%= appraisal.description %></td>
          <td><%= link_to 'edit', edit_appraisal_path(appraisal), :class => "btn btn-info", remote: true %></td>
      <% end %>
      </tbody>
    </table>
  <% else %>
    <div class="alert alert-success alert-dismissable">
        <button type="button" class="close" data-dismiss="alert" aria-hidden="true">&times;</button>
          Appraisal Templates Not Created Yet 
      </div>
  <% end %>
  </div><!--/.panel-body-->
</div>

<% title "Appraisals List" %>
