<div class="goal-form">
  <span class="fa fa-minus-circle remove-goal pull-right" style="cursor:pointer";></span>
  
    <div class="row">
      <div class="form-group">   
        <label class="control-label col-lg-2" for="basicinput">Title</label>
        <div class="col-lg-8">
          <%= text_field_tag 'title[]', nil, :class => "form-control", required: true %>
          <span class="help-block with-errors"></span>
        </div>
      </div>
    </div>
    <div class="row">
      <div class="form-group">   
        <label class="control-label col-lg-2" for="basicinput">Description</label>
        <div class="col-lg-8">
          <%= text_area_tag 'description[]',nil, :class => "form-control" %> 
          <span class="help-block with-errors"></span>
        </div>
      </div>
    </div>
    <div class="row">   
      <div class="col-lg-6">
        <div class="form-group">
          <label class="control-label col-lg-4" for="basicinput">Start Date</label>
          <div class="col-lg-6">
            <%= text_field_tag 'start_date[]', nil, :class => "date-picker start-date form-control"  %>
            <span class="help-block with-errors"></span>
          </div>
        </div>
      </div>
      <div class="col-lg-6">
        <div class="form-group">   
          <label class="control-label col-lg-2" for="basicinput">End Date</label>
          <div class="col-lg-6">
            <%= text_field_tag 'end_date[]', nil, :class => "date-picker end-date form-control" %>
           <span class="help-block with-errors"></span>
          </div>
        </div>
      </div>
    </div></hr>

<script>
  $(function() {
    $( ".date-picker, .start-date" ).removeAttr("id");
    $( ".date-picker, .end-date" ).removeAttr("id");
    $(".start-date").datepicker({ 
    format: 'dd/mm/yy',
    autoclose: true
    onClose: function (selectedDate) {
              var date2 = $('.start-date').datepicker('getDate');
              date2.setDate(date2.getDate());
              $(".end-date").datepicker("option", "minDate", date2);
              $(".error1").html('');
             }
    });
    $(".end-date").datepicker({
         format: 'dd/mm/yy',
         autoclose: true 
           onClose: function (selectedDate) {
            var date1 = $('.start-date').datepicker('getDate');
            if (date1){
              
            }else{
              $(".end-date").val('');
              $(".error1").html('<ul class="list-unstyled"><li>Please Enter From Date First</li></ul>');
            }
           }
     });
   // $(".date-picker").datepicker({ dateFormat: 'dd/mm/yy' });
   // $( ".date-picker, .end-date").click(function(){
     // $(this).datepicker({ dateFormat: 'dd/mm/yy' });
   // });
    //$( ".datepicker, .end-date" ).datepicker({ dateFormat: 'dd/mm/yy' });
    
    $(".remove-goal").click(function(){
      $(this).parent('div.goal-form').remove();
    });
  });
</script>
