<div class="wrapper">
  <div class="container">
    <div class="row">
      <div class="span12">
        <div class="content">
          <div class="module">
            <div class="module-head">
              <h3>Employee Appraisals List</h3>
            </div>
              <table class="table  table-striped">
              <thead>
                <tr>
                  <th>Employee</th>
                  <th>Apprisal</th>
                </tr>
              </thead>
              <tbody>
              <% if @employees.present? %>
              <% @employees.each do |employee| %>
                <% i = 0 %>
                <tr>
                  <td><%=  employee.full_name %></td>
                  <% if employee.employees_appraisals.where(status: Appraisal::HR).first.present? %>
                    <td><%= link_to @appraisals[i].title, "/hr_manager_view/#{employee.id}" %></td>
                  <% else %>
                    <td>Employee Appraisal form is with employee/reporting manager</td>
                  <% end %>
                </tr>
                <% i += 1 %>
              <% end %>
             <% end %>
             </tbody>
            </table>
            </div><!--/.module-body-->
          </div><!--/.module-->
        </div><!--/.content-->
      </div><!--/.span12-->
    </div><!--/.row-->
  </div><!--/.container-->
</div><!--/.wrapper-->
