<div class="row">
  <div class="col-lg-12">
    <div class="panel panel-info">
      <div class="panel-heading">
        Appraisal For <%= @employee_appraisal.appraisal_cycle.title %>
        <i class="fa fa-arrow-circle-left icon-position pull-right"></span></a><%= link_to 'Back To Appraisals', my_appraisals_path, :class="pull-right" %></label>
      </div>
      <%= render "appraisals/appraisal_view_partial" %>
    </div>
  </div><!--/.module-->
</div><!--/.content-->
-
