<div class="row">
  <div class="col-lg-12">
    <div class="panel panel-info">
      <div class="panel-heading">
        Appraisals List
        <label class = "pull-right"><a href="#"></a> <%= link_to 'Back To List', appraisals_list_path %></label>
      </div>
      <%= render "appraisals/appraisal_view_partial" %>
    </div>
  </div>
</div>

