<div class="panel panel-info">
  <div class="panel-heading">
    Reportees List
  </div>
  <div class="panel-body">
    <table class="display table table-bordered table-striped"> 
      <thead>
        <tr>
          <th>Employee</th>
          <th>Department</th>
        </tr>
      </thead>
      <tbody>
        <% @reportees.each do |reportee| %>
          <tr>
            <td><%= link_to reportee.employee.full_name, "/reportee_appraisals/#{reportee.employee.id}" %></td>
            <td><%= reportee.employee.department.department_name%></td>
          </tr>
        <% end %>
      </tbody>
    </table>
  </div><!--/.panel-body-->          
</div><!--/.panel-infox-->
