<div class="module-head">							
  <h3>Attendance</h3>   
</div>

<div class="module-body exp">
  <table class="table table-striped table-hover text" id="test">					      
    <tr>
      <th>Last Week Working days</th>
      <td><%= @attended_days %>/<%= pluralize(@working_days,"day") %></td>
    </tr>
    <tr>
      <th>Last Week Working Hours</th>
      <td><%= @sumofworkinghours %> hrs</td>
    </tr>
    <tr>
      <th>Average Working Hours per day</th>
      <td><%= @avg %> hrs</td>
    </tr>      
  </table>
</div><!--/.module-body -->
