<div class="panel panel-info">
  <div class="panel-heading">
    <label class="pull-left"><a id="prev" ><i class="icon-chevron-left"></i> Previous Week</a></label>
    <label class="pull-right"><a  id="next">Next Week <i class=" icon-chevron-right"></i></a></label><br>
  </div>                                                                                        
  <div class="panel-body"> 
  <!--
    <div class="row-fluid">
      <div class="span6">
        <div class="row-fluid">
          <div class="span6">
           <label class="label">Month&Year:</label>
          </div>
          <div class="span6">
            <label class="value"><%# Date::MONTHNAMES[@payslip.month] %>,<%# @payslip.year%></label>
          </div>
        </div>
      </div>
     <div class="span6">
       <div class="row-fluid">
        <div class="span6">
          <label class="label">Number Of Working Days:</label>
        </div>
        <div class="span6">
          <label class="value"><%# @payslip.working_days %></label>
        </div>
      </div>
    </div>
   </div>-->                                                                             								
    <table class="table table-striped table-bordered table-condensed" id="attendance_table">
		  <thead>
			  <tr>	
				  <th></th>									     
			    <th class="Mon"><br>Monday</th>									     
          <th class="Tue"><br>Tuesday</th>
          <th class="Wed"><br>Wednesday</th>
          <th class="Thu"><br>Thursday</th>
          <th class="Fri"><br>Friday</th> 
          <th class="Sat"><br>Saturday</th>
          <th class="Sun"><br>Sunday</th>                         
			  </tr>
		  </thead>
		  <tbody>
		   <tr>
		    <td><b>Log History</b></td>
		    <td class="Mon"></td>
		    <td class="Tue"></td>
		    <td class="Wed"></td>
		    <td class="Thu"></td>
		    <td class="Fri"></td>
		    <td class="Sat"></td>
			  <td class="Sun"></td>
		   </tr>
		   <tr>
			  <td><b>Total</b></td>
		    <td class="Total_Mon"></td>
		    <td class="Total_Tue"></td>
		    <td class="Total_Wed"></td>
		    <td class="Total_Thu"></td>
		    <td class="Total_Fri"></td>
		    <td class="Total_Sat"></td>
		    <td class="Total_Sun"></td>
		   </tr>
		   <tr>
			  <td><b>Total Working Hours</b></td>
		    <td colspan="3" id="Grand_Total"> </td>								   
		    <td id="avg"></td>
		    <td colspan="3" id="Average_Working_Hours"> </td>
		   </tr>
		  </tbody>
		</table>
		<input type="hidden" value="0" id="week_no">
  </div><!-- module body-->
</div><!--/.module-->  
       
<script>  
$(function(){

  var i = 0 ;
  call_sw();
  $("#prev").click(function(){
    i -= 1 ;
    $("#week_no").val(i);
    call_sw();  
  });
  $("#next").click(function(){
    if(i <0){
       i += 1 ;
      $("#week_no").val(i);
      call_sw();
    }
    
  });
  //$("td:empty").html("0"); 
});


function call_sw(){
  $("th span").remove();
  $("#attendance_table tr td:not(:first-child)").html("");
  $.getJSON( "/employee_attendence/emp_show_attendance_ws.json?week_no="+$("#week_no").val(), function( data ) {
    $.each(data["week_data"], function( key, value ) {
      $("th."+key).prepend("<span>"+value["dt"]+"</span> ");
      
      $.each(value["logs"], function(hrs, vl ) {
        $("td."+key).append(vl+"<br/>");
      });

        $("td.Total_"+key).html(value["total_hrs"]+"<br/>");
   });
   
      tl_val = (data["total_week_hours"]+"").split(".");
      if(tl_val.length==2){
        $("td#Grand_Total").html(tl_val[0]+""+ tl_val[1] +"min <br/>");
      } else {
        $("td#Grand_Total").html(tl_val[0]+"<br/>");
      }
      //$("td#Grand_Total").html(data["total_week_hours"]+"<br/>");
      
      tl_val = (data["avg_week_hours"]+"").split(".");
      if(tl_val.length==2){
        $("td#Average_Working_Hours").html(tl_val[0]+""+ tl_val[1] +"min <br/>");
      } else {
        $("td#Average_Working_Hours").html(tl_val[0]+"<br/>");
      }
      
     $("#avg").html("<b>Average Working Hours</b>");
  });
}

</script>

