<div class="wrapper">
  <div class="container">
    <div class="row">                                             
      <div class="span12">
        <div class="content">
          <div class="module">
             <div class="module-head" style="background-color: #82B4E6 ">
                <h3> Attendance Generation</h3>
              </div>                                                                                        
              <div class="module-body">                                                                          								
                <label>Upload CSV file here: <input type="file" class="btn btn-success" value="Upload"></label>
                <% link_to 'Generate', :class=>"btn btn-success" %>
              </div><!-- module body-->
            </div><!--/.module-->
          </div><!--/.content-->                    
        </div><!--/.span9-->                
     </div><!--/.row-->
  </div><!--/.container-->
</div><!--/.wrapper-->

