<div class="wrapper">
  <div class="container">
    <div class="row">                                             
      <div class="span12">
        <div class="content">
          <div class="module">
             <div class="module-head" style="background-color: #82B4E6 ">
                <label class="pull-left"><a id="prev" ><i class="icon-chevron-left"></i> Previous Week</a></label>
                <label class="pull-right"><a  id="next">Next Week <i class=" icon-chevron-right"></i></a></label><br>
              </div>                                                                                        
              <div class="module-body">                                                                          								
                <table class="table table-striped table-bordered table-condensed" id="attendance_table">
								  <thead>
									  <tr>		
  									  <th>Employee Name</th>								    
									    <th>Monday</th>									     
                      <th>Thuesday</th>
                      <th>Wednessday</th>
                      <th>Thursday</th>
                      <th>Friday</th>
                      <th>Saturday</th>
                      <th>Sunday</th>                         
									  </tr>
								  </thead>
								  <tbody>
								    <% @employees.each do |employee| %>  
                    <tr id= "<%= employee.employee_id%>">
                      <td><%= employee.full_name%></td>
									    <td class="Mon"></td>
									    <td class="Tue"></td>
									    <td class="Wed"></td>
									    <td class="Thu"></td>
									    <td class="Fri"></td>
									    <td class="Sat"></td>
									    <td class="Sun"></td>
                    </tr>
                    <% end %>
                    <tr id= "85">
                      <td>Test</td>
									    <td class="Mon"></td>
									    <td class="Tue"></td>
									    <td class="Wed"></td>
									    <td class="Thu"></td>
									    <td class="Fri"></td>
									    <td class="Sat"></td>
									    <td class="Sun"></td>
                    </tr>
								  </tbody>
								</table>
								<input type="hidden" value="0" id="week_num">
              </div><!-- module body-->
            </div><!--/.module-->
          </div><!--/.content-->                    
        </div><!--/.span9-->                
     </div><!--/.row-->
  </div><!--/.container-->
</div><!--/.wrapper-->

<script>
$(function(){

  var i = 0 ;
  call_sw();
  $("#prev").click(function(){
    i -= 1 ;
    $("#week_num").val(i);
    call_sw();
  });
  $("#next").click(function(){
    if(i<0){
       i += 1 ;
      $("#week_num").val(i);
      call_sw();
    }
  });
});


function call_sw(){
  $("#attendance_table tr td:not(:first-child)").val("0");
  $.get( "/employee_attendence/attandence_ws.json?week_no="+$("#week_num").val(), function( data ) {
    $.each(data, function( key, value ) {
      $.each(value, function( day, hrs ) {
        day_arr = day.split("|"); 
        if(hrs!="0"){
          $("tr#"+key+" ."+day_arr[0]).html(hrs+ " <i class='icon-comment' onclick='call_log_sw(&#39;"+day_arr[1]+"&#39;)'></i>"); 
        }
        else {
          $("tr#"+key+" ."+day_arr[0]).text(hrs); 
        }
      });
   });
  });
}

function call_log_sw(val){
  var log_records = ""
  $.get( "/employee_attendence/attendence_log_ws.json?dt="+val, function( data ) {
    $.each(data, function( key, value ) {     
          in_out = value[1]==true ? "<i class='icon-circle-arrow-down text-success'></i> in" : "<i class='icon-circle-arrow-up text-error '></i> out " ;
          log_records += "<tr><td>"+new Date(value[0])+" </td><td> "+ in_out +"</td></tr>";
          $("#show-attendance table#attendance_table tbody").html(log_records);    
     });
  });
  $("#show-attendance").modal('show');
}
</script>




<!-- Modal -->
<div class="modal fade" id="show-attendance" tabindex="-1" role="dialog" aria-labelledby="myModalLabel" aria-hidden="true" >
  <div class="modal-dialog">
    <div class="modal-content">
      <div class="modal-header">
        <button type="button" class="close" data-dismiss="modal"><span aria-hidden="true">&times;</span><span class="sr-only">Close</span></button>
        <h4 class="modal-title" id="myModalLabel"> <i class="icon-time icon-large"></i> Attendance Logs </h4>
      </div>
      <div class="modal-body show-investment-modal-body" style="min-height:200px;margin-top:-100px;">
         <table class="table table-striped table-bordered table-condensed" id="attendance_table">
				    <thead>
					    <tr>		
						    <th>Date and Time</th>								    
					      <th>Status</th>									                                                   
					    </tr>
				    </thead>
				    <tbody>
				    </tbody>
				 </table>   
        
      </div>
      <div class="modal-footer">
        <button type="button" class="btn btn-default" data-dismiss="modal">Close</button>
      </div>
    </div>
  </div>
</div>

