
    <div class="row">                                             
      <div class="col-lg-12">
          <div class="panel panel-info">
             <div class="panel-heading">
                <label class="pull-left"><a id="prev" ><i class="icon-chevron-left"></i> Previous Week</a></label>
                <label class="pull-right"><a  id="next">Next Week <i class=" icon-chevron-right"></i></a></label><br>
             </div>
             <div class="panel-body">
             <%= form_tag('/employee_attendence/show_attendance', method: :get, remote: true, :class => "form-horizontal") do %>
                <div class="col-lg-6">
                  <div class="col-lg-3">
                    <select  name="group_type" class="company_select form-control">
                      <option value="Company">All</option>
                      <option value="Department">Department</option>
                   <!--   <option value="Group">Group</option>
                      <option value="Workgroup">WorkGroup</option>
                      <option value ="Reportees">Reportees</option> -->
                    </select>
                  </div>
                  <div class="col-lg-3">
                    <div id ="departments">             
                      <%= select_tag :department_id, options_from_collection_for_select(Department.all, "id", "department_name"), prompt: "All Departments", :class => "form-control department_attendence" %>
                    </div>
                   <!-- <div id="groups">
                      <%# select_tag :group_id, options_from_collection_for_select(Group.all, "id", "group_name"), prompt: "All Groups", :class => "form-control group_attendence" %>  
                    </div>
                    <div id="workgroups">
                      <%# select_tag :workgroup_id, options_from_collection_for_select(Workgroup.all, "id", "name"), prompt: "All Work Groups", :class => "form-control work_group_attendence" %>
                    </div> -->
                  </div> 
                <% end %>
              </div>        
                  <div class="attend_data">
                    <%= render "employee_attend_data" %>
                  
                  </div>  
                             
        </div><!--/.span9-->                
     </div><!--/.row-->

<script>
$(function(){
  var i = 0 ;
  call_sw();
  $("#prev").click(function(){
    i -= 1 ;
    $("#week_num").val(i);
    call_sw();
  });
  $("#next").click(function(){
    if(i<=0){
       i += 1 ;
      $("#week_num").val(i);
      call_sw();
    }
  });
  $("#departments").hide();
  $("#groups").hide();
  $("#workgroups").hide();
  $(".company_select").change(function () {
    var str = $( ".company_select" ).val();  
    console.log(str);
    switch (str) { 
    case 'Group': 
          $("#departments").hide();
          $("#groups").show();
          $(this).closest('form').submit();
          get_sw(str,0);
          $(".group_attendence").change(function(){
            $(this).closest('form').submit();
            get_sw(str,$(this).val());
          });
          $("#workgroups").hide();
        break;
    case 'Department':
        $("#departments").show();
          $(this).closest('form').submit();
          get_sw(str,0);
          $(".department_attendence").change(function(){
            $(this).closest('form').submit();
            get_sw(str,$(this).val());
          });
          $("#groups").hide();
          $("#workgroups").hide();
        break;
    case 'Workgroup': 
        $(this).closest('form').submit();
        get_sw(str,0);
        $(".work_group_attendence").change(function(){
            $(this).closest('form').submit();
            get_sw(str,$(this).val());
        });
        $("#departments").hide();
          $("#groups").hide();
          $("#workgroups").show();
        break;      
    case 'Company': 
         $("#departments").hide();
          $("#groups").hide();
          $("#workgroups").hide();
          $('.company_select').closest('form').submit();
          call_sw();
          break;
    case 'Reportees':
      get_sw(str,0);
      $(this).closest('form').submit(); 
      $("#departments").hide();
      $("#groups").hide();
      $("#workgroups").hide();
    }
  });
  $(this).closest('form').submit();
});


function call_sw(){
  $("#attendance_table tr td:not(:first-child)").html("0");
  // sekhar - json to get dates and working hours of employees based on week 
  $.getJSON( "/employee_attendence/attandence_ws.json?week_no="+$("#week_num").val(), function( data ) {
    $.each(data, function( key, value ) {
          $("th span").remove();
          // loop for append dates and day value in the table
          $.each(data["dt"], function( dt, v ) {
            $("th."+dt).prepend("<span>"+v+"</span> "); // append day and date to th tag in the table
          });

      var i=0;          
      $.each(value, function( day, hrs ) {
        day_arr = day.split("|"); 
        if(hrs!="0" && hrs.toString().split("hr").length==2){ // if working hours present
          $("tr#"+key+" ."+day_arr[0]).html("<a style='cursor: pointer'  onclick='call_log_sw($(this).parent().parent().attr(&#39;id&#39;),&#39;"+data["dt"][day]+"&#39;)'>" +hrs+ "</a>" ); // append working hours of corresponding date to table row
        }
        else {
          if((day_arr[0]=="Sat" || day_arr[0]=="Sun") && hrs.toString().split("hr").length!=2){ // for sat and sunday
            $("tr#"+key+" ."+day_arr[0]).text(0); 
          } else 
          {
            $("tr#"+key+" ."+day_arr[0]).text(hrs); 
          }
          
        }
        
        i+=1;
      });
   });
  });
}
function get_sw(selected_value, value_id){
console.log(selected_value);
  $("#attendance_table tr td:not(:first-child)").html("0");
  // sekhar - json to get dates and working hours of employees based on week 
  $.getJSON( "/employee_attendence/attandence_ws.json?week_no="+$("#week_num").val()+"&value="+selected_value+"&value_id="+value_id, function( data ) {
    $.each(data, function( key, value ) {
          $("th span").remove();
          // loop for append dates and day value in the table
          $.each(data["dt"], function( dt, v ) {
            $("th."+dt).prepend("<span>"+v+"</span> "); // append day and date to th tag in the table
          });

      var i=0;          
      $.each(value, function( day, hrs ) {
        day_arr = day.split("|"); 
        if(hrs!="0" && hrs.toString().split("hr").length==2){ // if working hours present
          $("tr#"+key+" ."+day_arr[0]).html("<a style='cursor: pointer'  onclick='call_log_sw($(this).parent().parent().attr(&#39;id&#39;),&#39;"+data["dt"][day]+"&#39;)'>" +hrs+ "</a>" ); // append working hours of corresponding date to table row
        }
        else {
          if((day_arr[0]=="Sat" || day_arr[0]=="Sun") && hrs.toString().split("hr").length!=2){ // for sat and sunday
            $("tr#"+key+" ."+day_arr[0]).text(0); 
          } else 
          {
            $("tr#"+key+" ."+day_arr[0]).text(hrs); 
          }
          
        }
        
        i+=1;
      });
   });
  });
 }

// function will be called when we click on comment icon of timings in the table
function call_log_sw(id, val){
  var log_records = ""
  $.get( "/employee_attendence/attendence_log_ws.json?emp_id="+id+"&dt="+val, function( data ) { // json for attendence log i.e timings of in and put of an employee
    $.each(data, function( k, v ) {   
          $(".modal-header h4").html("<i class='icon-time icon-large'></i> Attendance Logs - "+v);
      if(k!="dt"){
      $.each(v, function( key, value ) {   
      //console.log(value[0]);
          in_out = value[1]==true ? "<i class='icon-circle-arrow-down text-success'></i> in" : "<i class='icon-circle-arrow-up text-error '></i> out " ;
          log_records += "<tr><td>"+value[0]+" </td><td> "+ in_out +"</td></tr>";
          $("#show-attendance table#attendance_table tbody").html(log_records);    
       });
       }
     });
  });
  $("#show-attendance").modal('show');
}
</script>




<!-- Modal -->
<div class="modal fade" id="show-attendance" tabindex="-1" role="dialog" aria-labelledby="myModalLabel" aria-hidden="true" >
  <div class="modal-dialog">
    <div class="modal-content">
      <div class="modal-header">
        <button type="button" class="close" data-dismiss="modal"><span aria-hidden="true">&times;</span><span class="sr-only">Close</span></button>
        <h4 class="modal-title" id="myModalLabel"> <i class="icon-time icon-large"></i> Attendance Logs </h4>
      </div>
      <div class="modal-body show-investment-modal-body">
         <table class="table table-striped table-bordered table-condensed" id="attendance_table">
				    <thead>
					    <tr>		
						    <th>Date and Time</th>								    
					      <th>Status</th>									                                                   
					    </tr>
				    </thead>
				    <tbody>
				    </tbody>
				 </table>   
        
      </div>
      <div class="modal-footer">
        <button type="button" class="btn btn-default" data-dismiss="modal">Close</button>
      </div>
    </div>
  </div>
</div>

<% title "Employees Attendance" %>

