<div class="module-head">
  <h3>Bank Details</h3>
</div>
<div class="module-body">
  <%= form_tag bankdetails_create_employee_path(@employee), :class => "new_bank_details", :remote => true do %> 
  <div class="control-group">
    <label class="control-label" for="basicinput">Name Of Bank</label>
      <div class="controls">
      <input type="text" id="basicinput" placeholder="Enter Bank Name" class="span8" pattern="[a-zA-Z/s ]*" name="bank_name" data-error="Pelase enter Valid Bank Name" required>
        <!--<%# f.text_field :bank_name, :class => "span8 form-control", :placeholder =>"Enter Bank Name", :data => {:error => "Please Enter Bank Name"}, :required => true,:pattern => '[a-zA-Z/s ]*'%>-->
        <span class="help-block with-errors"></span>
      </div>
  </div>
  
  <div class="control-group">
    <label class="control-label" for="basicinput">Account No</label>
      <div class="controls">
      <input type="text" id="basicinput" placeholder="Enter Account No" class="span8" pattern="[0-9a-zA-Z]*" name="account_number" data-error="Pelase enter Valid 16 Digit Account No" required>
        <!--<%# f.text_field :account_number, :class => "span8 form-control", :placeholder =>"Enter Account No", :data => {:error => "Please Enter 16 Digit Account No"}, :required => true,:pattern => '[0-9 ]{16}'%>-->
        <span class="help-block with-errors"></span>
      </div>
  </div>
  
  <div class="control-group">
    <label class="control-label" for="basicinput">Branch Name</label>
      <div class="controls">
      <input type="text" id="basicinput" placeholder="Enter Branch Name" class="span8" pattern="[a-zA-Z/,/-/s ]*" name="branch_name" data-error="Pelase enter Valid Branch Name" required>
       <!-- <%# f.text_field :branch_name , :class => "span8 form-control", :placeholder =>"Enter Branch Name", :data => {:error => "Please Enter Branch Name"}, :required => true,:pattern => '[a-zA-Z/s ]*'%>-->
        <span class="help-block with-errors"></span>
      </div>
  </div>
  
  <div class="control-group">
    <label class="control-label" for="basicinput">PAN No</label>
      <div class="controls">
      <input type="text" id="basicinput" placeholder="Enter Pan No" class="span8" pattern="[A-Z]{5}[0-9]{4}[A-Z]{1}" name="pan" data-error="Pelase enter Valid Pan No" required>             
        <!--<%# f.text_field :pan, :class => "span8 form-control", :placeholder =>"Enter Pan No", :data => {:error => "Please Correct Pan No"}, :required => true,:pattern => '[A-Z]{5}[0-9]{4}[A-Z]{1}'%>-->
        <span class="help-block with-errors"></span>
      </div>
  </div>
  
  <div class="control-group">
    <label class="control-label" for="basicinput">PF Account Number</label>
      <div class="controls">
      <input type="text" id="basicinput" placeholder="Enter PF Account Number" class="span8" name="PFAccountNumber" data-error="Please Enter Valid PF Account Number" required>             
       <span class="help-block with-errors"></span>
      </div>
  </div>
  
  	<ul class="navigation-btns pull-left">
		  <li><button type="submit" class="btn btn-success"> Save </button></li>
			<!--<li> <%# link_to 'Cancel', bankdetails_show_employee_path(@employee.id), :class=>"btn btn-danger ", :remote => true %></li>-->									
	 </ul>		
	 <% end %>        
</div> <!--/module-body-->    

<script>
  $(function(){
    $(".new_bank_details").validator();
  });
</script>                         
