<div class="row">                                             
  <div class="col-lg-12">
    <section class="panel panel-info">
      <header class="panel-heading">
        List Of Employees
      </header>
    <div class="panel-body">
      <section id="unseen">                                                                                   
                                                                            								
                <%= render "employees/employee_data_table" %>   
       </section>                
        </div><!--/.span9-->   
         </section>                
        </div><!--/.span9-->                
     </div><!--/.row-->

  
<script>
	$(document).ready(function() {
		$('#dynamic-table').dataTable();
		$('.dataTables_paginate').addClass("btn-group datatable-pagination");
		$('.dataTables_paginate > a').wrapInner('<span />');
		$('.dataTables_paginate > a:first-child').append('<i class="icon-chevron-left shaded"></i>');
		$('.dataTables_paginate > a:last-child').append('<i class="icon-chevron-right shaded"></i>');
	} );
</script>
