<div class="panel panel-info">
  <div class="panel-heading">
   Self Description
     <% if current_user.employee == @employee %>
       <i class="fa fa-plus pull-right" style="margin-top:3px;"></i><%= link_to 'Add/Edit',  employee_self_description_form_employee_path(current_user.employee.id), :class => "pull-right", :remote => true %>
     <% end %>
  </div> 
				      
  <div class="panel-body">
    <div class ="row">	     	
      <div class="form-group">
        <label class="col-lg-2 control-label" for="basicinput">About Me: </label>
        <div class="col-lg-8">
          <p><%= raw @employee.self_description %></p>              
        </div> 
      </div>
    </div>
    <div class ="row">	     	
      <div class="form-group">
        <label class="col-lg-2 control-label" for="basicinput">Personal Interests: </label>
        <div class="col-lg-8">
          <%=@employee.interests %>               
        </div> 
      </div>
    </div>
    <div class ="row">	     	
      <div class="form-group">
        <label class="col-lg-2 control-label" for="basicinput">Skills: </label>
        <div class="col-lg-8">
          <% @skills.each do |skill| %>
            <input value="<%= skill %>" class="btn btn-success span2" style="color:black" disabled>
          <% end %> 
        </div> 
      </div>
    </div>                
  </div>   
</div><!--/.module-->

