<div aria-hidden="true" aria-labelledby="myModalLabel" role="dialog" tabindex="-1" id="employee_modal" class="modal fade">
  <div class="modal-dialog">
    <div class="modal-content">
      <div class="modal-header">
        <button aria-hidden="true" data-dismiss="modal" class="close" type="button">×</button>
        <h4 class="modal-title">Form Tittle</h4>
      </div>
      <div class="modal-body announcement_show_body">


      </div>
    </div>
  </div>
</div>














