                                         <div class="module-head">Contact Info</div>                                  
                                       <div class="module-body " style="margin-left:100px;">								                          
                                           <div class="control-group span4">
										                          <label class="control-label" for="basicinput">Employee Id:</label>
										                          <div class="controls">
										                          <label><%= @employee.employee_id%></label>
											                          <!-- <%# @employee.employee_id %> -->
											                           <span class="help-block with-errors"></span>  
										                          </div>
									                          </div>
									
									                          <div class="control-group span4">
										                          <label class="control-label" for="basicinput">Title:</label>
										                          <div class="controls">	
										                          <label>hhfhfd</label>								
                                               <!--<%# f.select :title, options_for_select([['Mr', 'Mr'], ['Mrs', 'Mrs'], ['Miss', 'Miss']]),{}, :class=> "span8 form-control",:data => {:error => " Please Select Title"}, :required =>true %> -->
                                               									 
										                          </div>
									                          </div>
									                           <div class="control-group span4">
										                          <label class="control-label" for="basicinput">Employee First Name:</label>
										                          <div class="controls">
										                          <label>hhfhfd</label>		
                                              <!--  <%# f.text_field :first_name,:class => "span8 form-control",  :placeholder=>"Enter First name",:data => {:error => " Please Enter Employee First Name"}, :required =>true, :pattern => '[a-zA-Z/s ]*' %>-->
											                           
										                          </div>
									                          </div>
									
										                          <div class="control-group span4">
										                          <label class="control-label" for="basicinput">Employee Last Name:</label>
										                          <div class="controls">
										                          <label>hhfhfd</label>		
                                                <!--<%# f.text_field :last_name,:class => "span8", :id => "basicinput", :placeholder => "Enter Last name",:data => {:error => " Please Enter Employee Last Name"},:required =>true, :pattern => '[a-zA-Z/s ]*'  %> -->
											                          
										                          </div>
									                          </div>
									
									                          <div class="control-group span4">
										                          <label class="control-label" for="basicinput">Date Of Joining:</label>
										                          <div class="controls">
										                          <label>hhfhfd</label>		
                                              <!-- <%# format_date (@employee.date_of_join) %> -->
											                            
										                          </div>
									                          </div>
									                                     
                                             
									
									                          <div class="control-group span4">
										                          <label class="control-label" for="basicinput">Job Location:</label>
										                          <div class="controls">
										                          <label>hhfhfd</label>		
                                               <!-- <%# @employee.job_location.address.city if @employee.job_location.address.present? %> -->
										                          </div>
									                          </div>
									
									                          <div class="control-group span4">
										                          <label class="control-label" for="basicinput">Blood Group:</label>
										                          <div class="controls">
										                          <label>hhfhfd</label>		
                                                 <!--<%# @employee.blood_group.blood_group_name if @employee.blood_group.present? %> -->
										                          </div>
									                          </div>
									                          
									                           <div class="control-group span4">
										                          <label class="control-label" for="basicinput">Mobile Number:</label>
										                          <div class="controls">
										                          <label>hhfhfd</label>		
                                              <!--  <label><%# number_to_phone(@employee.mobile_number) if @employee.mobile_number.present? %></label>-->
										                          </div>
									                          </div>
									
									                          <div class="control-group span4">
										                          <label class="control-label" for="basicinput">Email Id:</label>
										                          <div class="controls">
                                               <!--<input class="span8 form-control" id ="basicinput" placeholder="Enter Email id" name="email" data-error =" Please Enter Valid Amzur Email Id" required  type = "email" pattern="[\w\.-]+@(amzur.com)"> 
                                               <span class="help-block with-errors"></span>  -->
										                          </div>
									                          </div>
									
									                          <div class="control-group span4">
										                          <label class="control-label" for="basicinput">Alternate E-Mail:</label>
										                          <div class="controls">
										                          <label>hhfhfd</label>		
                                              <!--<label><%# @employee.alternate_email %></label>  -->
										                          </div>
									                          </div>
									
									                          <div class="control-group span4">
										                          <label class="control-label" for="basicinput"> Reporting Manager:</label>
										                          <div class="controls">
										                          <label>hhfhfd</label>		
                                               <!--<%#  @employee.reporting_manager %>-->
										                          </div>
									                          </div>
									
									                          <div class="control-group span4">
										                          <label class="control-label" for="basicinput">Father Name:</label>
										                          <div class="controls">
										                          <label>hhfhfd</label>		
                                               <!--<%# @employee.father_name %> -->
                                               <span class="help-block with-errors"></span>
										                          </div>
									                          </div>
									
									                          <div class="control-group span4">
										                          <label class="control-label" for="basicinput">Gender:</label>
										                          <div class="controls">
										                          <label>hhfhfd</label>		
                                              <!--<%# @employee.gender %>-->
                                               <span class="help-block with-errors"></span>
										                          </div>
									                          </div>
									
									                          <div class="control-group span4">
										                          <label class="control-label" for="basicinput">Date Of Birth:</label>                                             
										                          <div class="controls">
										                          <label>hhfhfd</label>		
                                              <!-- <%# format_date (@employee.date_of_birth) %>-->
                                               <span class="help-block with-errors"></span>
										                          </div>
									                          </div>
									
									                          <div class="control-group span4">
										                          <label class="control-label" for="basicinput">Department:</label>                                              
										                          <div class="controls">
										                          <label>hhfhfd</label>		
                                               <!--<%# @employee.department.department_name if @employee.department.present? %> -->
                                               <span class="help-block with-errors"></span>
										                          </div>
									                          </div>
									
									                          <div class="control-group span4">
										                          <label class="control-label" for="basicinput">Designation:</label>                                              
										                          <div class="controls">
										                          <label>hhfhfd</label>		
                                              <!-- <%# @employee.designation.designation_name if @employee.designation.present? %>-->
                                               <span class="help-block with-errors"></span>
										                          </div>
									                          </div>
									
									                          <div class="control-group span4">
										                          <label class="control-label" for="basicinput">Grade/Level:</label>                                           
										                          <div class="controls">
										                          <label>hhfhfd</label>		
                                               <!--<label><%# @employee.grade.value if @employee.grade.present?  %></label>-->
                                               <span class="help-block with-errors"></span>
										                          </div>
									                          </div>
									
									                          <div class="control-group span4">
										                          <label class="control-label" for="basicinput">Upload Image:</label>                                         
										                          <div class="controls">
										                          <label>hhfhfd</label>		
                                              <!--<%# f.file_field :avatar,:onchange =>"validateFiles(this);",:data => {:max_file_size => 5.megabytes}%>-->
                                               <span class="help-block with-errors"></span>
										                          </div>
									                          </div>									                    
									                       </div><!--/.module-body-->                               
                                         <div class="span12 pull_right">                                         
                                              <button type="submit" class="btn btn-success ">Save & Continue</button><br> <br>  
                                         </div><!--/.span 12-->  

