          <div id="page-wrapper">
              <div class="row">
                    <div class="page-header">
                      Edit Attachment 
                    </div>
            </div>
            <!-- /.row -->
            <div class="row">
                <div class="col-lg-12">
                    <div class="panel panel-default">
                        <div class="panel-body">
                            <div class="row">
                                <div class="col-lg-6">
                                   <div class="errors">
                                   </div>
                                   <%= form_for(@emp_attachement, url: attachment_update_employee_path(@employee, @emp_attachement),:data => {:toggle => "validator" }) do |f| %>
                                   <div class="form-group" >
                                      <label class="required" > Title:</label><br>                                          
                                      <%= f.file_field :attachment, :multiple => true, name: "employee_attachments[attachment][]", :onchange =>"validateFiles(this);", :data => {:max_file_size => 5.megabytes}, :required =>true  %>
                                    </div>                                                                                              
                                      <%= f.submit 'Update', :class =>"btn btn-success pull-left" %>                                             
                                   <% end %>
                                </div>
                                <!-- /.col-lg-6 (nested) -->
                            </div>
                            <!-- /.row (nested) -->
                        </div>
                        <!-- /.panel-body -->            
                    </div>
                    <!-- /.panel -->
                </div>
                   <!-- /.col-lg-12 -->
              </div>
                <!-- /.row -->
           </div>
               <!-- /page-wrapper -->
 <script>
function validateFiles(inputFile) {
  var maxExceededMessage = "This file exceeds the maximum allowed file size (5 MB)";
  var extErrorMessage = "Only file with extension: .jpg, .jpeg, .gif, .png, .pdf, .ppt, .pptx, .doc, .docx, .zip, .rar, .txt, .xls is allowed";
  var allowedExtension = ["jpg", "LPG", "JPEG", "jpeg", "gif", "GIF",  "png", "PNG",  "doc", "DOC", "docx", "DOCX", "ppt", "PPT", "pptx", "PPTX", "xls", "XLS", "xlsx", "XLSX", "txt", "TXT", "rar", "RAR", "pdf", "PDf", "psd", "PSD"];
  
  var extName;
  var maxFileSize = $(inputFile).data('max-file-size');
  var sizeExceeded = false;
  var extError = false;
  
  $.each(inputFile.files, function() {
    if (this.size && maxFileSize && this.size > parseInt(maxFileSize)) {sizeExceeded=true;};
    extName = this.name.split('.').pop();
    if ($.inArray(extName, allowedExtension) == -1) {extError=true;};
  });
  if (sizeExceeded) {
    window.alert(maxExceededMessage);
    $(inputFile).val('');
  };
  
  if (extError) {
    window.alert(extErrorMessage);
    $(inputFile).val('');
  };
}
</script>



