<div class="wrapper">
  <div class="container">
    <div class="row">
      <div class="span12">
        <div class="content">
          <div class="module">
            <div class="module-head">
				      <h3>My Projects</h3>
				      <% if @employee.self_description.present? %>
				      <label style="font-weight:normal;margin-top:-20px;" class = "pull-right"><a href="#"><i class="icon-plus-sign"></i></a> <%= link_to 'Add/Edit',  employee_self_description_form_employee_path(current_user.employee.id) %></label>
				     </div> 
				      
				     <div class="module-body">
				     <strong>Self Deescription:</strong> <%= raw @employee.self_description %><br>
				     <strong>Personal Interests:</strong>&nbsp<%=@employee.interests %>
     
              </div>
               <% end %> 
				    </div><!--/.module-->
				</div><!--/.content-->
			</div><!--/.span12-->
		</div><!--/.row-->
	</div><!--/.container-->
</div><!--/.wrapper-->
