<div class="panel panel-info">
  <div class="panel-heading">
    List of Employees
  </div>                                                                                        
  <div class="panel-body ">
    <div class="actual-list">                                                                    								
      <%= render "employees/employee_data_table" %>                              
    </div>
    <div class="render-list"></div>
  </div><!-- module body-->
</div><!--/.module-->

<% title "Inactive Employees " %>
