<div class="panel panel-info">
  <div class="panel-heading">
    List of Employees
  </div>                                                                                        
  <div class="panel-body ">                                                                       								
    <%= render "employees/employee_data_table" %>                              
  </div><!-- module body-->
</div><!--/.module-->
