<section class="panel panel-info">
  <header class="panel-heading">      
     Job Openings
     <% if current_user.department == Department::HR %>                                
       <%= link_to 'New Job',  new_recruitment_path, :class => "fa fa-plus pull-right" %>
     <% end %> 
  </header>
</section>

                                                    
<div class="row">
  <div class="panel-body">
    <div class="row">
      <div class="col-md-9">                      
        <div class="tab-content">
          <div class="tab-pane active" id="tab_1">
            <div class="panel-group" id="accordion1">                
            </div>
          </div>
        </div>      
      </div>
   
      <div class="col-md-3">
        <section class="panel">
          <header class="panel-heading" >
            All Jobs
          </header>         
        </section>
        <ul class="vertical-menu">
          <% if @recruitments.present? %> 
            <% @recruitments.each do |recruitment| %> 
              <li><%= link_to  recruitment.title ,recruitment_path(recruitment), :class => "fa fa-bullhorn ", :remote=> true %></li>
            <%end%>
          <%else%>
          <div class="panel panel-success">
            <div class="panel-heading">
                <h4 class="panel-title">
                  No Jobs to display.
                </h4>
            </div>
          </div>
          <%end%>               
        </ul>
      </div>          
    </div>                    
  </div>      
</div>

<script>
  $(function(){
    $(".vertical-menu li:first a").click();
  });
</script>
<% title "Job Openings"%>

