<!--<%# form_for @status,  :data => {:toggle => "validator"}, :html => {:class=>"form-horizontal row-fluid shift_from"} do |s| %>-->
<%= form_for @status, :remote => true do |s| %>
<div class="control-group">               
  <div class="controls">
    <%= s.text_area :status, :class => "form-control input-lg p-text-area", :placeholder =>"What's on your mind today?", :data => {:error => "Please Enter Status"}, :required => true %>
    <span class="help-block with-errors"></span>
  </div>
</div>

<footer class="panel-footer">              
  <ul class="nav nav-pills pull-right">
    <li><%= s.submit  'Post', :class => "btn btn-success " %></li>
    <li><%= submit_tag "Cancel",:class => "btn btn-danger",type: :reset, :onclick => "this.form.reset()" %></li>
  </ul>
  <ul class="nav nav-pills">
      <li>
          <a href="#"><i class="fa fa-map-marker"></i></a>
      </li>
      <li class="camera" title = "Create Album"  >
          <a href="#"><i class="fa fa-camera" ></i></a>
      </li>
      
  </ul>                         
</footer>
<% end %>  


<style>
i[title]:hover:after {
  content: attr(title);
  padding: 4px 8px;
  color: #333;
  position: absolute;
  left: 0;
  top: 100%;
  white-space: nowrap;
  z-index: 20px;
  -moz-border-radius: 5px;
  -webkit-border-radius: 5px;
  border-radius: 5px;
  -moz-box-shadow: 0px 0px 4px #222;
  -webkit-box-shadow: 0px 0px 4px #222;
  box-shadow: 0px 0px 4px #222;
  background-image: -moz-linear-gradient(top, #eeeeee, #cccccc);
  background-image: -webkit-gradient(linear,left top,left bottom,color-stop(0, #eeeeee),color-stop(1, #cccccc));
  background-image: -webkit-linear-gradient(top, #eeeeee, #cccccc);
  background-image: -moz-linear-gradient(top, #eeeeee, #cccccc);
  background-image: -ms-linear-gradient(top, #eeeeee, #cccccc);
  background-image: -o-linear-gradient(top, #eeeeee, #cccccc);
}
</style>

 
<script>
$(function() {


  $(".new_album").hide();
  $(".camera").click(function(){
    $(".new_album").show();
    $(".new_status").hide();
  });
});
</script>
