
<% unless @leave_policy.nil? %>
<div id="page-wrapper">
            <div class="row">
                <div class="col-lg-12">
                    <h2 class="page-header"> Leave Policies</h2>
                </div>
                <!-- /.col-lg-12 -->
            </div>
            <!-- /.row -->
            <div class="row">
                <div class="col-lg-12">
                    <div class="panel panel-default">
                        <div class="panel-heading">
                            Leave Policies Form 
                             <%= link_to "Edit", edit_group_leave_policy_path(@group, @leave_policy), :class=>"btn btn-success pull-right" %>
                        </div>
                        <div class="panel-body">
                            <div class="row">
                                <div class="col-lg-6">
                                    
                                        <div class="form-group">
                                            <label style="font-weight:normal;">Personal leaves Per Year:</label>
                                            <%= @leave_policy.pl_this_year %>                                 
                                        </div>
                                        
                                        <div class="form-group">
                                            <label style="font-weight:normal;">Sick Leaves per Year:</label>
                                            <%= @leave_policy.sl_this_year %>
                                        </div>
                                        
                                        <div class="form-group">
                                            <label style="font-weight:normal;">Minimum Carry forword Leaves</label>
                                            <%= @leave_policy.eligible_carry_forward_leaves %>                                        
                                        </div>
                                        <ul class="navigation-btns" style="list-style: none;display:inline;">                                            
                                      <!--      <li><button type="submit" class="btn btn-success pull-left">Save</button> </li> --> 
                                        </ul>
                                  <hr>
                                 
                                </div>
                                
                                <!-- /.col-lg-6 (nested) -->
                            </div>
                            <!-- /.row (nested) -->
                        </div>
                        <!-- /.panel-body -->
                    </div>
                    <!-- /.panel -->
                </div>
                <!-- /.col-lg-12 -->
            </div>
            <!-- /.row -->
        </div>

<% end %>
