<div class="panel panel-info">
  <div class="panel-heading">							
    Employees        
  </div>
  <div class="panel-body">
    <div class="adv-table">
    <% if @employees.present?%>			
    <table class="display table table-bordered table-striped table-dynamic" >
      <thead>
        <tr>
          <th>Id</th>
          <th>Name</th>
          <th>Designation</th>
          <th>Date of Join</th>
        </tr>
      </thead>      
      <tbody>
        <% @employees.each do |employee| %>
          <tr>
            <td><%= employee.employee_id %></td>
            <td><%= employee.full_name %></td>
            <td><%= employee.designation.designation_name if employee.designation.present? %></td>
            <td><%= format_date(employee.date_of_join) %></td>
          </tr>
        <% end %>
        </tbody>
      </table>           
    <% else %> 
    <div class="alert alert-success alert-dismissable">
      <button type="button" class="close" data-dismiss="alert" aria-hidden="true">&times;</button>
       You have No Employees for this group.
    </div>
   <% end %>  
    </div>
  </div>
</div>     
