        <div class="panel panel-info">
		      <div class="panel-heading">							
             Holiday calender
             <% if current_user.designation == Designation::HRADMIN %>
		          <i class="fa fa-plus pull-right icon-position"></i> <%= link_to "Add Holidays",  new_group_holiday_calender_path(@group), :class=> "pull-right", :remote => true %>
		         
		        <% end %>
          </div>		   	         
		        <div class="panel-body">   
		          <% if @holiday_calenders.present? %> 
		          <div class="adv-table">
    		        <table class="display table table-bordered table-striped table-dynamic" id="dynamic-table2">
								  <thead>
										<tr>
											<th>Holiday Name</th>
											<th> Holiday Date  </th>
											<th> Mandatory/Optional  </th>
										</tr>
									</thead>									
								
									<tbody>
										<% @holiday_calenders.each do |holiday| %>
										<tr>
										  <td><%= holiday.event.event_name %></td>	
										  <td><%=format_date(holiday.event.event_date) %></td>
										   <td><% if holiday.mandatory_or_optional? %>Mandatory<%else%>Optional<%end%></td>		
									  </tr>
									   <% end %>
								 </tbody>
								
							</table>
							  <% if @holiday_calenders.present? %>
                  <%= link_to 'Send As Email', holiday_notification_group_path(@group), :class => "btn btn-info pull-right" %>
                <% end %>
							</div>
							<% else %>  
							    <div class="alert alert-success alert-dismissable">
                      <button type="button" class="close" data-dismiss="alert" aria-hidden="true">&times;</button>
                          No Holidays List for this Group
                  </div>                                   
						  <% end %>		        		     		    
		      </div><!--module -body-->                                                                                
     </div><!--/.module -->


<script>
	$(document).ready(function({
		$('#dynamic-table2').dataTable()( {
    "order": [1, 'asc' ]
} );
		$('.dataTables_paginate').addClass("btn-group datatable-pagination");
		$('.dataTables_paginate > a').wrapInner('<span />');
		$('.dataTables_paginate > a:first-child').append('<i class="icon-chevron-left shaded"></i>');
		$('.dataTables_paginate > a:last-child').append('<i class="icon-chevron-right shaded"></i>');
	} );
</script>
