        <div class="panel panel-info">
		      <div class="panel-heading">							
             Holiday calender
             <% if @holiday_calenders.present? %>
              <%= link_to 'Send As Email', holiday_notification_group_path(@group), :class => "btn btn-info pull-right" %>
            <% end %>
		        <label class = "pull-right"><a><i class="icon-plus-sign "></i></a> <%= link_to "Add Holidays",  new_group_holiday_calender_path(@group), :remote => true %>
		        </label>
          </div>		   	         
		        <div class="panel-body">   
		          <% if @holiday_calenders.present? %> 
		          <div class="adv-table">
    		        <table class="display table table-bordered table-striped table-dynamic">
								  <thead>
										<tr>
											<th>Holiday Name</th>
											<th> Holiday Date  </th>
											<th> Mandatory/Optional  </th>
										</tr>
									</thead>									
									<% @holiday_calenders.each do |holiday| %>
									<tbody>
										<tr>
										  <td><%= holiday.event.event_name %></td>	
										  <td><%=format_date(holiday.event.event_date) %></td>
										   <td><% if holiday.mandatory_or_optional? %>Mandatory<%else%>Optional<%end%></td>		
									  </tr>
								 </tbody>
								 <% end %>
							</table>
							</div>
							<% else %>  
							    <div class="alert alert-success alert-dismissable">
                      <button type="button" class="close" data-dismiss="alert" aria-hidden="true">&times;</button>
                          No Holidays List for this Group
                  </div>                                   
						  <% end %>		        		     		    
		      </div><!--module -body-->                                                                                
     </div><!--/.module -->

