
  

  <div class="ajax-edit-form" >
    <%= render "payrolls/payroll_edit_form"%>
  </div>



<!-- script to change values dynamically on change working days -->
<script>
  $(function(){
    $(".working_days").change(function(){
      $(".payslip-form").submit();
    });
    $(".arrears").change(function(){
      $(".payslip-form").submit();
    });
    $(".pt").change(function(){
      $(".payslip-form").submit();
    });
    $(".tds").change(function(){
      $(".payslip-form").submit();
    });
    $(".mode_option").change(function(){
      $(".payslip-form").submit();
    });
    $(".deductable_arrears").change(function(){
      $(".payslip-form").submit();
    });
 
  });
</script>
