<div class="panel panel-info">
  <div class="panel-heading"> 
    pay slips
  </div>
  <div class="row">
    <div class="col-sm-12">
      <section class="panel">        
        <div class="panel-body">      
          <div class="monthly_list">
            <%= render "payrolls/payslips_list_by_year" %>
          </div>
        </div>
      </section>
    </div>
  </div>       
</div>

 
