<div class="list">
  <%= render "payrolls/payroll_view" %>
</div>
 <!-- code for payslips list ajax calls -->
<div class="generated_payslips"></div>
<div class="payslips_view"></div>

<% title "Pay Roll" %>  

