      
<div class="wrapper">
 <div class="container">
	<div class="row">

  <div class="span12">
		<div class="content">

			<div class="module">
				<div class="module-head">
					<h3>Add Leave Type</h3>
						</div>
							<div class="module-body">
							
							<%= form_for @leave_type, :data => {:toggle => "validator"}, :html => {:class=>"form-horizontal row-fluid"} do |f| %>
							
					
			         <div class="control-group">
                  <label class="control-label" for="basicinput">Name Of New Leave Type:</label>
                      <div class="controls">
                        <%= f.text_field :type_name, :class => "span8 form-control", :placeholder =>"Enter New Leave Type Name", :data => {:error => "Please Enter New Leave Type Name"}, :required => true,:pattern => '[a-zA-Z/s ]*'%>  
                        <span class="help-block with-errors"></span>
                      </div>
								</div>
											
								  <%= f.submit  'Save', :class => "btn btn-success pull-left" %>
                 <%= link_to 'Cancel', leave_types_path, :class=>"btn btn-danger btn btn-success pull-left" %>
							
												 
										<% end %>
							</div><!--/.module-body-->
						</div><!--/.module-->
					</div><!--/.content-->
				</div><!--/.span12-->
			</div><!--/.row-->
		</div><!--/.container-->
	</div><!--/.wrapper-->
     
