

<div id="page-wrapper">
                <div class="row">
                <div class="col-lg-12">
                   
                </div>
                <!-- /.col-lg-12 -->
            </div>
            <!-- /.row -->
            <div class="row">
                <div class="col-lg-12">
                    <div class="panel panel-default">
                        <div class="panel-heading">
                             Leave Types Details 
                        </div>
                        <div class="panel-body">
   
                                 <%= form_for ([@employee, @leave_types]) do |f| %>
                                        
                                        <div class="form-group">
                                            <label>Leaves Type:</label>
                                            <%= f.select(:type_name, options_for_select([['Type1', 'Type1'], ['Type2', 'Type2']]), {}, :class=> "form-control", :id=>"disabledSelect") %>
                                           
                                        </div>
                                        
                                       <ul class="navigation-btns" style="list-style: none;display:inline;">
                                           <li> <%= f.submit  'Save', :class => "btn btn-success pull-left" %></li>
                                            
                                         </ul> 
                                                    
                                    <% end %>
                         
                        </div>
                        <!-- /.panel-body -->
                    </div>
                    <!-- /.panel -->
                </div>
                <!-- /.col-lg-12 -->
            </div>
            <!-- /.row -->
           
         </div>
          <!-- /#page wrapper -->
