                <ul class="nav" id="side-menu"><!-- emp sidebar -->
                        <li>
                           <div  class="profile-pic" > 
                              <h4><center> <%= @emp.full_name if @emp.present? %> </center></h4>
                               <% if current_user.employee.avatar_url.present? %>

                              <a href="#" >
                                <%= image_tag(current_user.employee.avatar_url,  style:"width:240px;height=250px;padding-left=10px;", class: "img-polaroid")  %>
                              </a>
                              <% else %>
                              <a href="#" >
                                <img src="/assets/employee-icon.jpg" alt="hii" style="width:240px;height=250px;padding-left=10px;" ></img>
                              </a>
                              <% end %>
                           </div>                      
                        </li>
                        <li>
                            <%= link_to 'MyProfile', employee_path(current_user.employee.id), :class => "fa fa-user fa-fw" %>
                        </li>
                      
                        <li>
                            <%= link_to 'Employees', employees_path, :class => "fa fa-users fa-fw"%>
                        </li>
   
                    </ul><!-- end of emp sidebar -->
                    
                    
                  
