                <ul class="nav" id="side-menu"><!-- emp sidebar -->
                        <li>
                            <a href="#"><i class="fa fa-user fa-fw"></i> My Profile</a>
                        </li>
                        <li>
                            <a href="#"><i class="fa fa-edit fa-fw"></i> Edit Profile<span class="fa arrow"></span></a>
                            <ul class="nav nav-second-level">
                                <li>
                                    <a href="#">Employee Details</a>
                                </li>
                                <li>
                                    <a href="#">Contact Details</a>
                                </li>
                                <li>
                                    <a href="#">Education Details</a>
                                </li>
                                <li>
                                    <a href="#">Experiance Details</a>
                                </li>
                                <li>
                                    <a href="#">Salary Details</a>
                                </li>
                                <li>
                                    <a href="#">Promotion Details</a>
                                </li>
                                <li>
                                    <a href="#">Email Etiqutte</a>
                                </li>
                                <li>
                                    <a href="#">Exit Details</a>
                                </li>
                            </ul>
                            <!-- /.nav-second-level -->
                        </li>
                        <li>
                            <a href="#"><i class="fa fa-users fa-fw"></i> Employees</a>
                        </li>
   
                    </ul><!-- end of emp sidebar -->
