        <!-- Navigation -->
        <nav class="navbar navbar-default navbar-static-top" role="navigation" style="margin-bottom: 0">
            <div class="navbar-header">
                <a class="navbar-brand" href="/">AmzurHRM</a>
            </div>
            <!-- /.navbar-header -->

            <ul class="nav navbar-top-links navbar-right">
                <% if current_user.employee.present? %>
								 			<li style="color:	#007ACC;"><%= current_user.employee.full_name %> </li>
								<% else %>
								 <li style="color:	#007ACC;"><%= current_user.email %></li>
								<% end %>
                <li class="dropdown">
                    <a class="dropdown-toggle" data-toggle="dropdown" href="#">
                        <i class="fa fa-user fa-fw"></i>  <i class="fa fa-caret-down"></i>
                    </a>
                    <ul class="dropdown-menu dropdown-user">
                        <li><a href="#"><i class="fa fa-user fa-fw"></i> User Profile</a>
                        </li>
                        <li><a href="#"><i class="fa fa-gear fa-fw"></i> Settings</a>
                        </li>
                        <li class="divider"></li>
                        <li>
                        <%= link_to('Logout', destroy_user_session_path, :method => :delete, :class=> "fa fa-sign-out fa-fw") %>   
                        </li>
                    </ul>
                    <!-- /.dropdown-user -->
                </li>
                <!-- /.dropdown -->
            </ul>
            <!-- /.navbar-top-links -->
            </nav>
            <div style="background-color:#0099CC;height:3px;"></div> 
            <div class="main-menu" >            
               <div id="nav">
                  <% if current_user.department == Department::HR %>
                  <a id="employee" href="/employees" >employee managment</a>
                  <a id="leave" href="/leave_histories" >leave managment</a>
                  <a id="time" href="#" >time</a>               
                  <% else %>
                  <a id="employee" href="/employees" >employee info</a>
                  <a id="leave" href="/leave_histories" >leave info</a>
                  <a id="time" href="#" >time</a>           
                  <% end %>
              </div> 
           </div>
           
         
           
