<ul class="nav pull-right">
						<li class="dropdown">
							<a href="#" class="dropdown-toggle" data-toggle="dropdown">Organization <b class="caret"></b></a>
							<ul class="dropdown-menu">
								<li><a href="#">Locations</a></li>
								<li><a href="#">Departments</a></li>
								<li><a href="#">Policies</a></li>
								<li><a href="#">Work Shifts</a></li>
								<li><a href="#">Holidays</a></li>
								<li><a href="#">Announcements</a></li>
							</ul>
						</li>
						
						<li class="dropdown">
							<a href="#" class="dropdown-toggle" data-toggle="dropdown">Employees<b class="caret"></b></a>
							<ul class="dropdown-menu">
								<li><a href="#">Employees</a></li>
								<li><a href="#">Attendence</a></li>
								<li><a href="#">Leaves</a></li>
								<li><a href="#">Resignations</a></li>
								<li><a href="#">Apprisals</a></li>
								<li><a href="#">Employees Exit</a></li>
							
						  </ul>
						</li>
						
						<li class="dropdown">
							<a href="#" class="dropdown-toggle" data-toggle="dropdown">Payroll <b class="caret"></b></a>
							<ul class="dropdown-menu">
								<li><a href="#">FBA</a></li>
								<li><a href="#">Pay Slips</a></li>
								<li><a>Bonuese</a></li>
								<li><a>Reimbursement</a></li>
								<li><a href="#">Loans</a></li>
						  </ul>
						</li>
	
						
						
						<li class="nav-user dropdown">
							<a href="#" class="dropdown-toggle" data-toggle="dropdown">
								<img src="/assets/user.png" class="nav-avatar" />
								<b class="caret"></b>
							</a>
							<ul class="dropdown-menu">
								<li><a href="#">My Profile</a></li>
								<li><a href="#">Edit Profile</a></li>
								<li><a href="#">Account Settings</a></li>
								<li class="divider"></li>
								<li><a href="#">Logout</a></li>
							</ul>
						</li>
					</ul>
