
                    <ul class="nav" id="side-menu">
                        
                       
                        <li>
                            <a href="#"><i class="fa fa-bar-chart-o fa-fw"></i> Configure<span class="fa arrow"></span></a>
                            <ul class="nav nav-second-level">
                                <li>
                                    <%= link_to "Leave-Types", leave_types_path %>
                                </li>
                                <li>
                                    <%= link_to 'Groups', groups_path %>
                                </li>
                                <li>
                                   <%= link_to 'Holidays', events_path %>
                                </li>
                            </ul>
                            <!-- /.nav-second-level -->
                        </li>
                        <li>
														<%= link_to 'Holidays',  holiday_list_groups_path, :class => "fa fa-calendar fa-fw" %>
                            
                        </li>

                 <!--       <li>
                            <a href="forms.html"><i class="fa fa-calendar fa-fw"></i> Leave-calender</a>
                        </li> -->

