
                    <ul class="nav" id="side-menu">
                        <li>
                           <div  class="profile-pic" > 
                              <h4><center> <%= @emp.full_name if @emp.present? %> </center></h4>
                              <% if @emp.present? && @emp.avatar_url.present? %>

                              <a href="#" >
                                <%= image_tag(@emp.avatar_url,  style:"width:250px;height=250px;padding-left=10px;", class: "img-polaroid")  %>
                              </a>
                              <% else %>
                              <a href="#" >
                                <img src="/assets/employee-icon.jpg" alt="hii" style="width:250px;height=250px;padding-left=10px;" ></img>
                              </a>
                              <% end %>
                           </div>                      
                        </li>
                        
                        <li>
													  <a href="/leave_histories"><i class="fa fa-history fa-fw"></i> My Leaves</a>
                        </li>
                        <li>

                            <a href="/departments/holiday_list"><i class="fa fa-calendar fa-fw"></i> Holiday-Calender</a>
                        </li>
                          <% if  ReportingManager.where(:manager_id =>  current_user.employee.id) %>
                            <li id = "active2">
                                <a href="/reported_leaves"><i class="fa fa-list fa-fw"></i> Reporting Info<span class="fa arrow"></span></a>
                                <ul class="nav nav-second-level">
                                    <li>
                                         <a href="/reported_leaves">Reporting Leaves</a>
                                    </li>
                                   
                                    <li>
                                         <a href="/reported_employees">Reported Employees</a>
                                    </li>
                                </ul>
                            </li>
                         <% end %>                                            	
                        <li>
														<a href="#"><i class ="fa fa-navicon"></i> Remaining Leaves</a>											
                        </li>

                        </ul>
                        
                          
                    <script>
                     var selector = '.nav li';

                      $(selector).on('click', function(){
                          $(selector).removeClass('active');
                          $(this).addClass('active');
                      });
                    </script>

