<div class="navbar-default sidebar" role="navigation">
  <div class="sidebar-nav navbar-collapse">
  
   <% if current_user.department == Department::HR %>
      <%= render "shared/leave_hr_side_bar"%>
    <% else %>
      <%= render "shared/leave_emp_side_bar"%>
    <% end %>
    
  </div>            <!-- /.sidebar-collapse -->               
</div>
            <!-- /.navbar-static-side -->  
