
                    <ul class="nav" id="side-menu">
                        
                        <li>
                             <a href="/leave_histories"><i class="fa fa-history fa-fw"></i> My Leaves</a>
                        </li>
                        <li>
                            <a href="/employee_leaves"><i class="fa fa-dashboard fa-fw"></i> Employee Leaves</a>
                        </li>
                      <% if  ReportingManager.where(:manager_id =>  current_user.employee.id) %>
                        <li>
                            <a href="/reported_leaves"><i class="fa fa-dashboard fa-fw"></i> Reporting Leaves</a>
                        </li>
                      <% end %>
                        <li>
                            <a href="#"><i class="fa fa-bar-chart-o fa-fw"></i> Configure<span class="fa arrow"></span></a>
                            <ul class="nav nav-second-level">
                                <li>
                                    <%= link_to "Leave-Types", leave_types_path %>
                                </li>
                                <li>
                                    <%= link_to 'Groups', groups_path %>
                                </li>
                                <li>
                                   <%= link_to 'Holidays', events_path %>
                                </li>
                            </ul>
                            <!-- /.nav-second-level -->
                        </li>
                        <li>
														<a href="/groups/holiday_list"><i class ="fa fa-calendar fa-fw"></i>Holiday Calendar</a>
														
                        </li>
                        <li>
														<a href="#"><i class ="fa fa-navicon"></i> Remaining Leaves</a>														
                        </li>
                    </ul>


                
