<div class="panel panel-info">
	<div class="panel-heading">
	  Add Department
	</div>
	<div class="panel-body">							
	<%= form_for @department, :data => {:toggle => "validator"}, :html => {:class=>"form-horizontal row-fluid"} do |dep| %>						
	  <div class="form-group">   
	   <label class="col-lg-2 control-label" for="basicinput">Department</label>
       <div class="col-lg-8">
          <%= dep.text_field :department_name, :class => "form-control", :placeholder =>"Enter Department", :data => {:error => "Please Enter Valid Department Name"}, :required =>true,:pattern => '[a-zA-Z/s ]*' %>
        <span class="help-block with-errors"></span>
       </div>
     </div>									        							
     <div class="row">
        <div class="col-lg-offset-2 col-lg-8">  						      				     				      								        							
			    <button type="submit" class="btn btn-success">Save </button>
		      <%= link_to "Cancel", departments_path,:class => "btn btn-danger "%>	
			  </div>
			</div>		 						 
  <% end %>
	</div><!--/.module-body-->
</div><!--/.module-->
			
	 <script>
          $(function(){
  
    $("#active").toggleClass("active").children("ul").collapse("toggle");

          });
        </script>
            
     
