
<div class="module">
	<div class="module-head">							
    <h3>Leave Policy</h3> 
      <% unless @leave_policy.present?%>
        <label style="font-weight:normal;margin-top:-20px;" class = "pull-right"><a><i class="icon-plus-sign "></i></a>
        <%= link_to "Add Leave Policy",  new_department_leave_policy_path(@department ), :remote => true %></label>
      <% end %>	
  </div>
  <div class="module-body">		               
    <% if @leave_policy.present? %>
      <table class="table table-striped table-bordered table-condensed">
        <thead>
          <tr>
            <th>Personal leaves Per Month</th>
            <th>Maximum Carry forword Leaves</th>
           </tr>
         </thead>
         <tbody>          
            <% unless @leave_policy.nil? %>
         <tr>
          <td><%= @leave_policy.pl_this_year %></td>
          <td> <%= @leave_policy.eligible_carry_forward_leaves %></td>
          <td><%= link_to 'Edit', edit_department_leave_policy_path(@department, @leave_policy), :class => "btn btn-success pull-right", :remote => true %></td> 
            <% end %>
           </tr>
            </tbody>                        
      </table> 
    <% else %>      
        <div class="alert alert-success alert-dismissable">
           <button type="button" class="close" data-dismiss="alert" aria-hidden="true">&times;</button>
             No Leave  for this Department
        </div>                                   
     <% end %>			 
  </div> 
</div> 
  
