      <div id="page-wrapper">
           <div class="row">
                <div class="col-lg-12">
                    <h2 class="page-header"> Add Employees To <label><%= @department.department_name %></label> Department</h2>
                </div>
                <!-- /.col-lg-12 -->
            </div>
            <!-- /.row -->
            <div class="row">
                <div class="col-lg-12">
                    <div class="panel panel-default">
                        <div class="panel-body">
                            <div class="col-lg-6">
                               <%= form_tag ("/departments/#{@department.id}/update_employee") do  %>                                      
                               <div class="form-group">
                                   <label class="required">Add Employee: </label>&nbsp
                                       <input type="text" id="emp" class="form-control" name="emp" place_holder="Enter Employee Name">
                                      <input type="hidden" id="employee_id"  name= "employee_id"><br/>
                                       <%= submit_tag "Add",:class => "btn btn-success" %>  
                                </div>                                                            
                                <% end %> 
                            </div> 
                              <!-- /.col-lg-6 -->                           
                        </div>
                        <!-- /.panel-body -->
                    </div>
                    <!-- /.panel -->
                </div>
                <!-- /.col-lg-12 -->
            </div>
               <!-- /.row -->
         </div>
          <!-- /#page wrapper -->



<script>
  $(function() {
  var availableTags = [];
  $.get( "/getAllEmployees.json", function( data ) {
      $.each( data, function( key, val ) {
       availableTags.push(val);
       //alert(val["id"]+" - "+val["value"]);
      });
  });
  
       $( "#emp" ).autocomplete({
        minLength: 0,
        source: availableTags,
        focus: function( event, ui ) {
        $( "#emp" ).val( ui.item.value );
        return false;
        },
        select: function( event, ui ) {
        $( "#emp" ).val( ui.item.value );
        $( "#employee_id" ).val( ui.item.id );
        return false;
        }
        })
  });
  </script>

















