          
          <div class="wrapper">
		         <div class="container">
			         <div class="row">                                             
                 <div class="span12">
                    <div class="content">
                        <div class="module">
                            <div class="module-head">
                               <h3>All Departments                               
                                <label style="font-weight:normal;" class = "pull-right"><a><i class="icon-plus-sign"></i></a> <%= link_to "New Department", new_department_path %></label>
                               </h3>
                            </div>
                            <div class="module-body " style="background-color:#eee">
                              <% divscount = 0 %>
                              <% @departments.each do |department| %>
                              <% divscount = divscount+1 %>
                              <% if divscount%2 == 1 %>
                              <div class="row-fluid">
                              <% end %>                              
                                <div class="span6" style="border-radius:4px; background-color:#fff">
                                  <div class="style">
                                    <div class=" module-head" style="background-color:#F0F5F5!important;" >
                                      <h3 style=" color:black!important;"><%= department.department_name %>'s Info<hr></h3>
                                    </div>
                                  </div>
                                  <div class="media user">  
                                    <a class="media-avatar pull-left" href="#">                                 
                                      <% if department.department_name == "HR" %>
                                          <img src="/assets/HR.jpg" style="height:120px !important;width:120px !important;"> 
                                      <% elsif department.department_name == "Development"%>
                                        <img src="/assets/dep.jpg" style="height:120px !important;width:120px !important;" >
                                      <% elsif department.department_name == "Business Development"%>
                                        <img src="/assets/accounts.jpg"style="height:120px !important;width:120px !important;">
                                      <% elsif department.department_name == "Accounts"%>
                                        <img src="/assets/bdm.jpg" style="height:120px !important;width:120px !important;">
                                      <% end %>
                                    </a>     
                                    <div class="media-body">
                                      <div class="style">
                                        <h5 class="media-title">
                                            <%= link_to department.department_name, department_path(department) %>
                                        </h5>
                                         <br>                                                                                              
                                        <ul style="list-style-type: none;">
                                          <!--<li><i class="icon-suitcase"></i> Head : Mehar</li> -->
                                          <li><i class="icon-user"></i> Employees :<%= department.employees.count %></li>
                                        </ul> 
                                     </div>                                         
                                   </div><!--/.media-body-->     
                                </div>
                              </div>                             
                               <% if divscount%2 == 0 %>
                                </div><br>
                               <% end %>
                               <% end %>                                                                     
                               <% if divscount%2 == 1 %>
                               </div><br>
                               <% end %>                               
                              <!----<div class="pagination pagination-centered">
                                  <ul>
                                      <li><a href="#"><i class="icon-double-angle-left"></i></a></li>
                                      <li><a href="#">1</a></li>
                                      <li><a href="#">2</a></li>
                                      <li><a href="#">3</a></li>
                                      <li><a href="#"><i class="icon-double-angle-right"></i></a></li>
                                  </ul>
                              </div>--->
                          </div>
                        </div>
                    </div><!--/.content-->                    
                </div><!--/.span9-->                
             </div><!--/.row-->
		      </div><!--/.container-->
	      </div><!--/.wrapper-->
  
  
  
  
  
        
                           
