<div class="wrapper">
        <div class="container">
            <div class="row">                
                <div class="span12">
                    <div class="content">
                        <div class="module">
                            <div class="module-body">
                                <div class="profile-head media">                   
                                    <div class="media-body">
                                        <h5>
                                           <%= @department.department_name %> Department
                                        </h5>
                                        <p>Employees : 25</p>
                                        <p>Manager : Mehar</p>
                                     </div>                                                                         
                                <ul class="profile-tab nav nav-tabs">
                                    <li class="active"><a href="#employees" data-toggle="tab">Employees</a></li>
                                    <li><a href="#leaves" data-toggle="tab">Leaves</a></li>
                                     <li ><a href="#designations" data-toggle="tab">Designations</a></li>
                                    <li><a href="#leave_policies" data-toggle="tab">Leave Policies</a></li>
                                     <li><a href="#holiday_calender" data-toggle="tab">Holiday-Calender</a></li>                                    
                                </ul> 
                                
                                                                                                                               
                                 <div class="profile-tab-content tab-content">                                                                
                                    
                                    <div class="tab-pane fade active in" id="employees">
                                        <h4> Employees</h4>    
                                        <%= render "departments/employees"%>                  
                                    </div><!--/.tab-pane-list--> 
                          <!--leaves PANEL-->                                    
                                    
                                    <div class="tab-pane fade" id="leaves">
                                         <h4>Leaves Info</h4>
                                         <%= render "departments/employee_leaves"%> 
                                    </div><!--/.tab-pane-list--> 
                          <!--designations PANEL-->   
                                     
                                      <div class="tab-pane fade " id="designations"> 
                                          <h2>designations Info</h2>   
                                      </div> <!--/.tab-pane-list-->                                              
                          <!--leave_policies PANEL-->             
                                     
                                      <div class="tab-pane fade " id="leave_policies">
                                        <h2>salary Info</h2>                                            
                                      </div><!--/.tab-pane-list-->
                          <!--holiday_calender PANEL-->             
                                      
                                      <div class="tab-pane fade " id="holiday_calender">
                                        <h2>holiday_calende Info</h2>                                           
                                      </div><!--/.tab-pane-list-->                                                                                             
                                </div><!--/.profile-tab-content -->                                                                                      
                              </div>
                            <!--/.profile-head-->
                        </div>
                        <!--/.module-->
                    </div>
                    <!--/.content-->
                </div>
                <!--/.span9-->
            </div>
        </div>
        <!--/.container-->
    </div>	


                    
                    




