<%# params.inspect %>
<div class="wrapper">
	<div class="container">
		<div class="row">     			
			<div class="span8">
				<%= render 'welcome/employee_details' %>	
			</div>
			<div class="span4" style="margin-left:10px;">	
				<%= render 'welcome/notices' %>
			</div><!--2nd Sapn4-->
		</div>
	</div>				
</div>	


