<div class="wrapper">
	<div class="container">
		<div class="row">     			
			<div class="span6">	
			</div>
			<div class="span6" style="margin-left:10px;">	
		    <div class="module">	
		      <div class="module-head">
	          <div class="box-title">
              <h3>Announcements</h3>  
            </div>                                            
          </div>
          <div class="module-body">
            <div class ="row-fluid">	
               <div class="control-group">
                  <a href="#"><strong>Meeting @ conf1 </strong></a>
               </div>
               <div class="control-group">
                  <label class="control-label" for="basicinput"> Lorem Ipsum is simply dummy text of the printing and typesetting industry. Lorem Ipsum has been the industry's standard dummy text ever since the 1500s, when an unknown printer took a galley of type and scrambled it to make a type specimen book. It has survived not only five centuries 
                  </label>
                  <span class="pt4">posted 1 day ago</span>
               </div><hr>                
               <div class="control-group">
                   <a href="#"><strong>Meeting @ conf1 </strong></a>
               </div>
               <div class="control-group">
                  <label class="control-label" for="basicinput"> Lorem Ipsum is simply dummy text of the printing and typesetting industry. Lorem Ipsum has been the industry's standard dummy text ever since the 1500s, when an unknown printer took a galley of type and scrambled it to make a type specimen book. It has survived not only five centuries 
                  </label>
                  <span class="pt4">posted 2 days ago</span>
               </div><hr> 
             </div><!--row-fluid-->               
          </div><!--module body--> 						
		    </div><!--module--> 
		    
		     <div class="module">	
		      <div class="module-head">
	          <div class="box-title">
              <h3>Events</h3>  
            </div>                                            
          </div>
          <div class="module-body"> 
             <div class ="row-fluid">	
               <div class="control-group">
                  <a href="#"><strong>Team Outing </strong></a> on 2-12-2014
               </div>
               <div class="control-group">
                  <label class="control-label" for="basicinput"> Lorem Ipsum is simply dummy text of the printing and typesetting industry. Lorem Ipsum has been the industry's standard dummy text ever since the 1500s, when an unknown printer took a galley of type and scrambled it to make a type specimen book. It has survived not only five centuries 
                  </label>
                  <span class="pt4">posted 5 days ago</span>
               </div><hr>
             </div><!--row-fluid-->            
          </div><!--module body--> 						
		    </div><!--module--> 
		    		
		     <div class="module">	
		      <div class="module-head">
	          <div class="box-title">
              <h3>Job Openings</h3> 
            </div>                                            
          </div>
          <div class="module-body"> 
            <div class ="row-fluid">	
               <div class="control-group">
                  <a href="#"><strong>Sales Manager - JCOD23</strong></a>
               </div>
               <div class="control-group">
                  <a href="#">http://jobsearch.naukri.com/jobs-in-surat</a>
                  <label class="control-label" for="basicinput"> Lorem Ipsum is simply dummy text of the printing and typesetting industry. Lorem Ipsum has been the industry's standard dummy text ever since the 1500s, when an unknown printer took a galley of type and scrambled it to make a type specimen book. It has survived not only five centuries 
                  </label>                  
                  <span class="pt4">posted 2 days ago</span>
               </div><hr>
             </div><!--row-fluid-->                       
          </div><!--module body--> 						
		    </div><!--module-->	
		    			
			</div><!--2nd Sapn6-->
		</div>
	</div>				
</div>	



<style type="text/css">
.box-title{
border-radius: 2px 2px 0px 0px;
padding: 13px 20px 0px 20px;
background-color: #91dff3 !important;
padding-bottom: 13px;
}

a:hover{
text-decoration:none;
}

.control-label:hover{
cursor: text;
}
.pt4{
margin-top:-10px;
float: right;
}
</style>
