
<form class="form-signin" action="index.html">
  <h2 class="form-signin-heading">sign in now</h2>
  <div class="login-wrap">
      <input type="text" class="form-control" placeholder="User ID" autofocus>
      <input type="password" class="form-control" placeholder="Password">
      <label class="checkbox">
          <input type="checkbox" value="remember-me"> Remember me
          <span class="pull-right">
              <a data-toggle="modal" href="#myModal"> Forgot Password?</a>

          </span>
      </label>
      <button class="btn btn-lg btn-login btn-block" type="submit">Sign in</button>
      <p>or you can 
      <% unless current_user.present? %>                              
        <%= link_to 'sign in', user_omniauth_authorize_path(:google_oauth2), :class => "network-name" %>
      <% else %>
      sign in
      <% end %>
      via Amzur Id</p>
  </div>       
</form>

<% title 'Login'%>

