<div class="actual-wall-template">
  <%= render 'wall'%>
</div>
<div class="render-wall-template">
</div>
<!-- page start-->
<!-- page end-->
<style>
  /* See license.txt for terms of usage */
  /** reset styling **/
  .row .wall-layout{
    margin-left:200pximportant;
  }
  .jdesc,.idesc{
    height:40px;
    overflow:hidden;
    font-weight:normal;
  }
  .pt4{
    border-left: 0px solid #d3d7dd!important;
    float: right;

  }

  .slick-track > .slick-slide .slick-active{
    width:100px!important;
  }

  .slick-prev, .slick-next{
    background: rgb(113, 195, 235);
  }

  input[type="text"]{
    padding :15px;
  }

  .total_status{
    padding:5px;
    margin-left:50px;
  }

  .album-title{
    color:#FF6C60 !important
  }
  
  .text-scroll{
    overflow-y: auto;
    max-height:300px;
  }
  
  .text-scroll ul li a:first-child{
  border-left: 4px solid #d3d7dd;
  }
  .text-scroll ul li a,.text-scroll ul li a:hover{
  border-left: 4px solid #f1f2f7;
  }
  
</style>

<script>
  $(function() {
    $( document ).tooltip();

    $(".group1").colorbox({rel:'group1', transition:"none", width:"75%", height:"75%"});

    $('.slider-for').slick({
      slidesToShow: 1,
      slidesToScroll: 1,
      arrows: false,
      fade: true,
      asNavFor: '.slider-nav'
    });
    $('.slider-nav').slick({
      slidesToShow: 3,
      slidesToScroll: 1,
      asNavFor: '.slider-for',
      dots: true,
      centerMode: true,
      focusOnSelect: true
    });
  });
</script>

<script>
  $(function(){
    $('.event_show').click(function(){ 
      var url = $(this).attr("url");
      $.ajax({
        type: "GET",
        url: url,
        dataType: "script"
      });
    });
  });
</script>
<!-- Button trigger modal -->
<script>
  $(function(){
    $('.announcement-show').click(function(){ 
      var url = $(this).attr("url");
      $.ajax({
        type: "GET",
        url: url,
        dataType: "script"
      });
    });
  });
</script>





<div aria-hidden="true" aria-labelledby="myModalLabel" role="dialog" tabindex="-1" id="eventsModal" class="modal fade">
  <div class="modal-dialog">
    <div class="modal-content">
      <div class="modal-header">
        <button aria-hidden="true" data-dismiss="modal" class="close" type="button">×</button>
        <h4 class="modal-title">Event</h4>
      </div>
      <div class="modal-body event_show_body">
      </div>
    </div>
  </div>
</div>

<div aria-hidden="true" aria-labelledby="myModalLabel" role="dialog" tabindex="-1" id="announcementModal" class="modal fade">
  <div class="modal-dialog">
    <div class="modal-content">
      <div class="modal-header">
        <button aria-hidden="true" data-dismiss="modal" class="close" type="button">×</button>
        <h4 class="modal-title">Announcement</h4>
      </div>
      <div class="modal-body announcement_show_body">
      </div>
    </div>
  </div>
</div>

 <% title "Amzur Wall" %> 


