
<div class="actual-wall-template">
  <%= render 'wall'%>
</div>
<div class="render-wall-template">
</div>
<!-- page start-->
<!-- page end-->

<script>
  $(function() {
    $( document ).tooltip();
    $(".group1").colorbox({rel:'group1', transition:"none", width:"75%", height:"75%"});
    $('.slider-for').slick({
      slidesToShow: 1,
      slidesToScroll: 1,
      arrows: false,
      fade: true,
      asNavFor: '.slider-nav'
    });
    $('.slider-nav').slick({
      slidesToShow: 3,
      slidesToScroll: 1,
      asNavFor: '.slider-for',
      dots: true,
      centerMode: true,
      focusOnSelect: true
    });
  });
</script>

<script>
  $(function(){
    $('.event_show').click(function(){ 
      var url = $(this).attr("url");
      $.ajax({
        type: "GET",
        url: url,
        dataType: "script"
      });
    });
  });
</script>
<!-- Button trigger modal -->
<script>
  $(function(){
    $('.announcement-show').click(function(){ 
      var url = $(this).attr("url");
      $.ajax({
        type: "GET",
        url: url,
        dataType: "script"
      });
    });
  });
</script>


<script>
  $(function(){
    $('.likes_show').click(function(){ 
      var url = $(this).attr("url");
      $.ajax({
        type: "GET",
        url: url,
        dataType: "script"
      });
    });
  });
</script>
<script>
  $(function(){
    $('.album_show').click(function(){ 
      var url = $(this).attr("url");
      $.ajax({
        type: "GET",
        url: url,
        dataType: "script"
      });
    });
  });
</script>


<div aria-hidden="true" aria-labelledby="myModalLabel" role="dialog" tabindex="-1" id="eventsModal" class="modal fade">
  <div class="modal-dialog">
    <div class="modal-content">
      <div class="modal-header">
        <button aria-hidden="true" data-dismiss="modal" class="close" type="button">×</button>
        <h4 class="modal-title">Event</h4>
      </div>
      <div class="modal-body event_show_body">
      </div>
    </div>
  </div>
</div>

<div aria-hidden="true" aria-labelledby="myModalLabel" role="dialog" tabindex="-1" id="announcementModal" class="modal fade">
  <div class="modal-dialog">
    <div class="modal-content">
      <div class="modal-header">
        <button aria-hidden="true" data-dismiss="modal" class="close" type="button">×</button>
        <h4 class="modal-title">Announcement</h4>
      </div>
      <div class="modal-body announcement_show_body">
      </div>
    </div>
  </div>
</div>

<!-- Modal status likes -->
<div aria-hidden="true" aria-labelledby="myModalLabel" role="dialog" tabindex="-1" id="likesModal" class="modal fade">
  <div class="modal-dialog">
    <div class="modal-content">
      <div class="modal-header">
        <button aria-hidden="true" data-dismiss="modal" class="close" type="button">×</button>  <br>     
      </div>
      <div class="modal-body likes_show_body">
      </div>
    </div>
  </div>
</div>
<!-- Modal album likes -->
<div aria-hidden="true" aria-labelledby="myModalLabel" role="dialog" tabindex="-1" id="albumsModal" class="modal fade">
  <div class="modal-dialog">
    <div class="modal-content">
      <div class="modal-header">
        <button aria-hidden="true" data-dismiss="modal" class="close" type="button">×</button>  <br>     
      </div>
      <div class="modal-body album_show_body">
      </div>
    </div>
  </div>
</div>

 <% title "Amzur Wall" %> 

