       
<div class="wrapper">
 <div class="container">
	<div class="row">

  <div class="span12">
		<div class="content">

			<div class="module">
				<div class="module-head">
					<h3>Add New Event</h3>
						</div>
							<div class="module-body">
							
							<%= form_for @event, :data => {:toggle => "validator"}, :html => {:class=>"form-horizontal row-fluid"} do |eve| %>
						
							<div class="control-group">   
							 <label class="control-label" for="basicinput">Enter Event</label>
                   <div class="controls">
                      <%= eve.text_field :event_name, :class => "span8 form-control", :placeholder =>"Enter New Event Name", :data => {:error => "Please Enter Event Name"}, :required =>true,:pattern => '[a-zA-Z/s ]*' %>
                    <span class="help-block with-errors"></span>
							          </div>
								          </div>
								          
								          
		<div class="control-group">
										<label class="control-label" for="basicinput">Date Of Event</label>
										<div class="controls">
                     <%= eve.text_field :event_date, :class => "span8 date-picker form-control", :data => {:error => "Please Enter Event Date"}, :required => true %>
											 <span class="help-block with-errors"></span>   
										</div>
									</div>
									
	
									        							
												<button type="submit" class="btn btn-success pull-left">Save </button>
												  <%= link_to "Back", events_path,:class => "btn btn-info pull-left"%>
											 
										<% end %>
							</div><!--/.module-body-->
						</div><!--/.module-->
					</div><!--/.content-->
				</div><!--/.span12-->
			</div><!--/.row-->
		</div><!--/.container-->
	</div><!--/.wrapper-->
	

            
     
