<section class="panel">        
  <header class="panel-heading tab-bg-dark-navy-blue">
    <ul class="nav nav-tabs nav-justified ">
      <li class="active"><a href="#bank_info" data-toggle="tab">Bank Details</a></li>
      <li><a href="#salary_structure" data-toggle="tab">Salary Structure</a></li> 
    </ul>
  </header>                                                                            
  <div class="profile-tab-content tab-content">                                                                
    <div class="tab-pane fade active in" id="bank_info">
      <% if @employee.account_number.present? %>
        <%=render 'employees/bankdetails_show' %>
      <%else%>
      <div class="bank_form row">
        <%=render 'employees/bankdetails_form' %>
      </div>
      <div class="bankdetails_show"></div>
      <% end %>  
    </div><!--/.tab-pane-list-->     
    
    <!--salary_structure-->  
    <div class="tab-pane fade" id="salary_structure">
      <div class="panel">        
        <div class="panel-body">   
          <%= render 'salaries/salary_record' %>   
         </div>
       
         <div class="configure_allowance">     
         </div>
         <!-- Code for extra features in salaries -->
        <!-- Code for Allowances Display in salaries index -->                                
      </div>
    </div><!--/.tab-pane-list--> 
  </div>
</section>


<script>
  $(function(){
    $("#insentives").hide();
    $(".increments").hide();


  });

  $(".bonus").click(function(){
    //$(".display").append("#insentives");
    $(".salaries").hide();
    $(".increments").hide();
    $("#allownaces").hide();
    $("#insentives").show();
    $(".salary").removeClass( "active" );
    $(".increment").removeClass("active");
    $(".bonus").addClass( "active" );
  });


  $(".increment").click(function(){
    $(".increments").show();
    $(".salaries").hide();
    $("#allownaces").hide();
    $("#insentives").hide();
    $(".salary").removeClass( "active" );
    $(".bonus").removeClass( "active" );
    $(".increment").addClass("active");
  });

</script>


