<div class="list">
<%= render "salaries/payslips_view" %>
</div>
 <!-- code for payslips list ajax calls -->
   <div class="generated_payslips"></div>
   <div class="payslips_view"></div>
   <div class="monthly_payslips"></div>
