
<section class="panel panel-info">  
  <div class="panel-body">
    <div class="form-group">
      <ul>
        <% @album.likes.each do |like| %>
          <li> <%= like.employee.full_name %> </li>
        <% end %> liked your Album...
      </ul>  
    </div>
  </div><!--panel-body-->                                                                      
</section>  

