


                                 <%= form_for ([@employee, @salary, @salary_increment]), :remote => true do |f| %>
                                        
                                        <div class="form-group col-lg-6">
                                            <label class="required" >Date of Increment </label>
                                            <%= f.text_field :increment_date,  :class => "form-control datepicker"%>
                                           
                                        </div>
                                        
                                        <div class="form-group col-lg-6">
                                            <label class="required" >Increment Value(%) </label><br>
                                            <%= f.text_field :increment_value, :class => "form-control",  :placeholder=>"Enter increment value" %>
                                            
                                        </div>
                                       <ul class="navigation-btns pull-right" style="list-style: none;display:inline;">
                                          <li><button type="submit" class="btn btn-success pull-left">Add Increment</button></li> 
                                           <li><button type="submit" class="btn btn-success pull-left">Reset</button></li>            
                                       </ul>            
                                    <% end %>
                  <script>
  $(function() {
    $( ".datepicker" ).datepicker();
  });
  </script>
