
<div id="page-wrapper">
 <div class="row">
   <div class="col-lg-12">
           
    </div>
      <!-- /.col-lg-12 -->
      </div>
       <!-- /.row -->
         <div class="row">
          <div class="col-lg-12">
           <div class="panel panel-default">
                <div class="panel-body">
                  <%= form_for([@employee, @salary, @salary_increment]) do |f| %>                              
                   <div class="form-group">
                     <label class="required" >Date of Increment </label>
                      <%= f.text_field :increment_date,  :class => "form-control datepicker" %>                      
                        </div>      
                         <div class="form-group">
                          <label class="required" >Increment Value </label><br>
                           <%= f.text_field :increment_value, :class => "form-control" %>
                            </div>
                               <%= f.submit 'Update', :class => "btn btn-success pull-left" %>       
                              <!-- <button type="submit" class="btn btn-success pull-left">Save & Continue</button> -->
                                                    
                                    <% end %>
                         
                        </div>
                        <!-- /.panel-body -->
                    </div>
                    <!-- /.panel -->
                </div>
                <!-- /.col-lg-12 -->
            </div>
            <!-- /.row -->
           
         </div>
          <!-- /#page wrapper -->

<script>
		$(function() {
    $( ".datepicker" ).datepicker();
  });

</script>
