<label><strong>Department Leaves:</strong></label>
<div id="department_leaves">
 <% @employees.each do |employee| %>
    <% if employee.department_id == 2 %>
      <%= employee.full_name %>
    <% end %>
  <% end %>  
</div><hr>
<div id="department_holidays">
<label><strong>Department Events:</strong></label>
  <% @events.each do |department_event| %>                                             
    <%= department_event.event_name %>
    <%= department_event.event_date %><br>       
  <% end %>
</div>
