<!-- Author :Priyanka
 Calendar View for displaying department level existing Events -->
<div class="wrapper">
  <div class="container">
    <div class="row">                
      <div class="span12">
        <div class="content">         
				  <div class="module">
					  <div class="module-head">
              <h3>Department Holidays</h3>
              <label style="font-weight:normal;margin-top:-20px;" class = "pull-right"><a><i class=" icon-arrow-right"></i></a> <%= link_to 'Department Leaves',  calendars_department_leaves_calendar_path %></label>              
					  </div>
					  <div class="module-body">
					    <div class="control-group">
									<label class="control-label" for="basicinput">Department:</label>
									<div class="controls">
									    <%= form_tag('/calendars/department_calendar', method: :get, remote: true) do %>
                        <%= select_tag "department", options_from_collection_for_select(Department.all, "id", "department_name"), class: "department-id", :prompt=>"Organization" %>
                      <% end %>
                    <span class="help-block with-errors"></span> 
									</div>
						    </div><hr>	
					    <div class="calendar-partial">
					      <%= render "calendars/calendar_partial"%>
					    </div>
	          </div><!--.module-body-->
					</div><!--/.module -->
		    </div><!--/.content-->
			</div><!--/.span12-->
		</div><!--/.row-->
	</div><!--/.container-->
</div><!--/.wrapper-->

<style>
  #calendar {
  max-width: 900px;
  margin: 0 auto;
}
</style>






<script>
  $(function(){
    $("#department").change(function(){
      $(this).closest('form').submit();
    });
  }); 
</script>
