<!-- Author :Priyanka
 View for displaying all existing Leaves and Events according to Department -->
<div class="wrapper">
  <div class="container">
    <div class="row">                
      <div class="span12">
        <div class="content">         
				  <div class="module">
					  <div class="module-head">
              <h3>Department Calendar</h3>              
					  </div>
					  <div class="module-body">
					    <div id='calendar'>
								<div class="control-group">
									<label class="control-label" for="basicinput">Department:</label>
									<div class="controls">
                    <%= select_tag "department", options_from_collection_for_select(Department.all, "id", "department_name"), class: "department-id" %>
                    <span class="help-block with-errors"></span> 
									</div>
						    </div><hr>	
						    <% if @department.present? %>
						      <div id="department">
						    	  <%= render 'department_leaves' %>	
						    	</div>			    					        
					      <% else %>
					        <div class="alert alert-success alert-dismissable">
                    <button type="button" class="close" data-dismiss="alert" aria-hidden="true">&times;</button>
                    No Information to display ,Please select Department.
                  </div>
					      <% end %>
					     </div>
	          </div><!--.module-body-->
					</div><!--/.module -->
		    </div><!--/.content-->
			</div><!--/.span12-->
		</div><!--/.row-->
	</div><!--/.container-->
</div><!--/.wrapper-->

<script>
 
 $('#department').change(function() {
 var index =$( "#department" ).val();
  $.ajax({
      type: "get",
      url: "/calendars/department_calendar",
      data: { 'department_id': index } 
  }); 
});
</script>



