
  <div class="row">                 
     <aside class="col-lg-3">
	      <%= render "calendar_filters"%>
	    </aside>
	    			
	   <div class='calendar-partial'>
	      <%= render 'calendars/workgroup_partial'%>														   
	    </div>

  </div>


           
					   
	    



<style>
  h2{
    font-size: 16px !important;
  }
</style>

<script>
$(document).ready(function() {
    $('#calendar').fullCalendar({
      header: {
        left: 'prev,next today',
        center: 'title',
        right: 'month,agendaWeek,agendaDay'
    },
          events: '<%= @calendar_events %>'                
     });
});
</script>

<% title "Calendar"%>
