<!-- Author :Priyanka
Calendar View for displaying Company Level Events -->
<div class="wrapper">
  <div class="container">
    <div class="row">                
      <div class="span12">
        <div class="content">         
				  <div class="module">
					  <div class="module-head">
              <h3>All Holidays</h3>             
					  </div>
					  <div class="module-body">
					    <%= render "calendar_filters"%>
					   <div class='calendar-partial'>
					      <%= render 'calendars/workgroup_partial'%>														   
					    </div>
	          </div><!--.module-body-->
					</div><!--/.module -->
		    </div><!--/.content-->
			</div><!--/.span12-->
		</div><!--/.row-->
	</div><!--/.container-->
</div><!--/.wrapper-->



<style>
  #calendar {
  max-width: 900px;
  margin: 0 auto;
}
</style>
<script>
$(document).ready(function() {
    $('#calendar').fullCalendar({
      header: {
        left: 'prev,next today',
        center: 'title',
        right: 'month,agendaWeek,agendaDay'
    },
          events: '<%= @calendar_events %>'                
     });
});
</script>

