<!-- Author :Priyanka
 View for displaying all existing album along with its first images. You can view the whole album by clicking on image or on album name -->
<div class="wrapper">
  <div class="container">
    <div class="row">                
      <div class="span12">
        <div class="content">         
				  <div class="module">
					  <div class="module-head">
              <h3>Reportees Calendar</h3>              
					  </div>
					  <div class="module-body">
					    <div id='calendar'>	
					      <label><strong>Holidays</strong></label>
					      <% if @holidays.present? %>
					        <% @holidays.each do |holiday|%>
					         
					        <% end %>
					      <% else %>
                  <div class="alert alert-success alert-dismissable">
                    <button type="button" class="close" data-dismiss="alert" aria-hidden="true">&times;</button>
                    No Holidays to display.
                  </div>
					      <% end %>					      					   
					      <label><strong>Reportee Leaves:</strong></label>
					      <% if @reportee_employees.present? %>
					        <% @reportee_employees.each do |reportee_employee|%>					          
					          <% if reportee_employee.leave_histories.present? %>					          
					            <% reportee_employee.leave_histories.each do |employee_record| %>
					            <label>Reportee Name: <%= reportee_employee.full_name %></label>
					              <%= employee_record.from_date %> to <%= employee_record.to_date %>
					            <% end %>					         
					          <% end %>			          
					        <% end %>
					      <% else %>
                  <div class="alert alert-success alert-dismissable">
                    <button type="button" class="close" data-dismiss="alert" aria-hidden="true">&times;</button>
                    You have No Reportees.
                  </div>
					      <% end %>					      
					    </div>
	          </div><!--.module-body-->
					</div><!--/.module -->
		    </div><!--/.content-->
			</div><!--/.span12-->
		</div><!--/.row-->
	</div><!--/.container-->
</div><!--/.wrapper-->

<script>
  <%= javascript_tag do %>
  $(document).ready(function() {
  $('#calendar').fullCalendar()
  });
  <% end %>
</script>
