<!-- Author :Priyanka
 View for displaying all existing Leaves and Events according to Department -->
<div class="wrapper">
  <div class="container">
    <div class="row">                
      <div class="span12">
        <div class="content">         
				  <div class="module">
					  <div class="module-head">
              <h3>Workgroup Events</h3>
              <label style="font-weight:normal;margin-top:-20px;" class = "pull-right"><a><i class=" icon-arrow-right"></i></a> <%= link_to 'Workgroup Leaves',  calendars_workgroup_leaves_calendar_path %></label>              
					  </div>
					  <div class="module-body">
					    <div class="control-group">
									<label class="control-label" for="basicinput">Workgroup:</label>
									<div class="controls">									   
									  <%= form_tag('/calendars/workgroup_calendar', method: :get, remote: true) do %>
                      <%= select_tag "workgroup", options_from_collection_for_select(Workgroup.all, "id", "name"), class: "workgroup-id", :prompt=>"Organization" %>
                    <% end %>                      
                    <span class="help-block with-errors"></span> 
									</div>
						    </div><hr>	
					    <div class='workgroup-partial'>
					      <%= render 'calendars/workgroup_partial'%>														   
					    </div>
	          </div><!--.module-body-->
					</div><!--/.module -->
		    </div><!--/.content-->
			</div><!--/.span12-->
		</div><!--/.row-->
	</div><!--/.container-->
</div><!--/.wrapper-->

<style>
  #calendar {
  max-width: 900px;
  margin: 0 auto;
}
</style>

<script>
  $(function(){
    $("#workgroup").change(function(){
      $(this).closest('form').submit();
    });
  }); 
</script>

