<div class="wrapper">
  <div class="container">
    <div class="row">                
      <div class="span12">
        <div class="content">
          <div class="module" >
            <div class="module-head">
                <h3>Address Proof</h3>        
            </div><!--/.module-head-->
            <div class="module-body">
            31 January 2014 <br>

          This is to confirm that <Employee Name> is a bonafide employee and is working as <Designation> since <DOJ>, for Amzur Technologies Pvt Ltd and as per the company records the residential address of him is as mentioned below.

            Details as under –
            Employee Name 

            Present Address

            Permanent Address

            Thanking you,

            <HR Name>

            Human Resources

          <%= link_to "Save as PDF", "#"%> <br>
          <%= link_to "Send to My Mail", "#"%>
            </div><!--/.module-body-->                    
          </div><!--/.module-->                
        </div><!--/.content-->            
      </div><!--/.span12-->
    </div><!--/.row-->    
  </div><!--/.container-->	
</div><!--/.Wrapper-->
