<div class="row">
  <aside class="profile-nav col-lg-3">
    <section class="panel">
      <div class="user-heading round">             
     
        <a href="#">   
          <%= image_tag "leave-view-icon.jpg" %>
        </a> 
        
      </div> 
      <ul class="nav nav-pills nav-stacked">            
       <li class="active"><a href="#referenc-letter" data-toggle="tab"><i class="fa fa-user"></i>Reference Letter</a></li>
          <li><a href="#address-proof" data-toggle="tab"><i class="fa fa-user"></i>Address Proof</a></li>
          <li ><a href="#salary-certificate" data-toggle="tab"><i class="fa fa-user"></i>Salary Certificate</a></li>          
       </ul>                                  
      </section>
  </aside> 
  
  <aside class="profile-info col-lg-9">
      <section>                                                                                                                                              
       <div class="profile-tab-content tab-content">  
          <div class="tab-pane fade active in" id="referenc-letter">
            <div class="module">                                              
                <%= render "/letters/reference_letter"%>                  
            </div> 
          </div><!--/.tab-pane-list-->
<!--leaves PANEL-->                                    
          
          <div class="tab-pane fade" id="address-proof">
            <div class="module">
               <%= render "letters/address_proof_letter"%>
            </div>         
          </div><!--/.tab-pane-list--> 
<!--designations PANEL-->   
           
            <div class="tab-pane fade " id="salary-certificate">
              <div class="module"> 
                <%= render "letters/salary_certificate" %>    
              </div>
            </div> <!--/.tab-pane-list-->                                              
<!--leave_policies PANEL-->                                    
         </div><!--/.profile-tab-content -->                                                                                                                 
       
       </section>
    </aside>                
</div>      
