<h2>Letters</h2>
<hr>
<%= link_to "Reference Letter", reference_letter_letters_path %><br>
<%= link_to "Address Proof Letter",  address_proof_letter_letters_path %><br>
<%= link_to "Salary Certificate", salary_certificate_letters_path %>



<div class="wrapper">
  <div class="container">
    <div class="row">                
      <div class="span12">
        <div class="content">
          <div class="module" >
            <div class="module-head">
              <h3>Letters</h3>			        
			        <!-- <label style="font-weight:normal;margin-top:-20px;" class = "pull-right"><a href="#"><i class="icon-plus-sign"></i></a> <%= link_to 'Add Policy'</label> -->
            </div><!--/.module-head--> 
            <div class="module-body">     
             
            </div><!--/.module-body-->                     
          </div><!--/.module-->                
        </div><!--/.content-->            
      </div><!--/.span12-->
    </div><!--/.row-->    
  </div><!--/.container-->	
</div><!--/.Wrapper-->            


