<h2>Letters</h2>
<hr>
<%= link_to "Reference Letter", reference_letter_letters_path %><br>
<%= link_to "Address Proof Letter",  address_proof_letter_letters_path %><br>
<%= link_to "Salary Certificate", salary_certificate_letters_path %>

