
<div class="wrapper">
  <div class="container">
    <div class="row">                
      <div class="span12">
        <div class="content">
          <div class="module" >
            <div class="module-head">
              <h3>All Letters</h3>			        
			        <!-- <label style="font-weight:normal;margin-top:-20px;" class = "pull-right"><a href="#"><i class="icon-plus-sign"></i></a> <%= link_to 'Add Policy'</label> -->
            </div><!--/.module-head--> 
            <div class="module-body">     
              <div class="rombus">
              <div class="dwn-icon"><a href="/letters/reference_letter"><i class="icon-download-alt"></i></a></div>
              <div class="text"><a href="/letters/reference_letter"><br><span>Reference Letter</span></a></div>
              </div>
              
              <div class="rombus" style="margin-top:-200px;margin-left:450px;">
              <div class="dwn-icon"><a href="letters/address_proof_letter"><i class="icon-download-alt"></i></a></div>
              <div class="text"><a href="letters/address_proof_letter"><br><span>Address Proof</span></a></div>
              </div>
              
              <div class="rombus" style="margin-top:-200px;margin-left:800px;">
              <div class="dwn-icon"><a href="/letters/salary_certificate"><i class="icon-download-alt"></i></a></div>
              <div class="text"><a href="/letters/salary_certificate"><br><span>Salary Certificate</span></a></div>
              </div><br><br><br>
            </div><!--/.module-body-->                     
          </div><!--/.module-->                
        </div><!--/.content-->            
      </div><!--/.span12-->
    </div><!--/.row-->    
  </div><!--/.container-->	
</div><!--/.Wrapper-->            


