<div class="wrapper">
  <div class="container">
    <div class="row">                
      <div class="span12">
        <div class="content">
          <div class="module" >
            <div class="module-head">
                <h3>Salary Certificate</h3>        
            </div><!--/.module-head-->
            <div class="module-body">
           Date : XXX<br>

           TO WHOMSOEVER IT MAY CONCERN<br>

          This is to certify that Mr / Ms. xxx (Emp No. xxx ) , (Designation) is an employee of 

          Amzur Technologies , since (D.O.J)<br>

          As per our records his / her Salary details in Indian Rupee is as follows :<br>

          BASIC xxx<br>

          HOUSE RENT ALLOWANCE xxx<br>

          CONVEYANCE ALLOWANCE xxx<br>

          AMZUR BENEFITS PLAN xxx<br>

          ADDITIONAL ALLOWANCE xxx<br>

          PROVIDENT FUND xxx<br>

          GRATUITY xxx<br>

          QPLC xxx<br>

          MEDICAL xxx<br>

          MONTHLY GROSS xxx<br>

          This certificate is issued at employee request.<br>

          For Verification of this letter, you can get in touch with (Mail ID)<br>

          For Amzur Technologies<br>

          AUTHORISED SIGNATORY<br>

          <%= link_to "Save as PDF", "#"%> <br>
          <%= link_to "Send to My Mail", "#"%>
            </div><!--/.module-body-->                    
          </div><!--/.module-->                
        </div><!--/.content-->            
      </div><!--/.span12-->
    </div><!--/.row-->    
  </div><!--/.container-->	
</div><!--/.Wrapper-->
