<div class="wrapper">
  <div class="container">
    <div class="row">
      <div class="span12">
        <div class="content">
          <div class="module">
            <div class="review-list">
              <%= render "review_elements/reviews_list" %>
            </div>
            <div class="review-form">
            </div>   
          </div>
        </div><!--/.content-->
      </div><!--/.span12-->
    </div><!--/.row-->
  </div><!--/.container-->
</div><!--/.wrapper-->                                                         


