  <%= form_tag("/workgroups/#{@workgroup.id}/added_members") do %>
  <div class ="row">
    <div class="col-lg-6">
      <div class="form-group">
        <label  class="col-lg-2 control-label">Enter Employee Name</label>
        <div class="col-lg-4">
          <input type="text" id="member" class ="span12 form-control", name= "member" , place_holder = "Enter Member Name" data-error="Please Enter valid Employee Name" required>
          <input type="hidden" id="member_id"  name= "member_id">
          <span class="help-block with-errors"></span> 
      </div>
    </div>
  </div>
  <div class="panel-body">
    <button type="submit" class="btn btn-success pull-left">Add Member</button>
		<%= link_to "Cancel", workgroup_path(@workgroup.id),:class => "btn btn-danger" %>                                          
  </div>										
<% end %>
