  <%= form_tag("/workgroups/#{@workgroup.id}/added_members") do %>
  <div class ="row">
    <div class="col-lg-12">
      <div class="form-group">
        <label  class="col-lg-4 control-label">Enter Employee Name</label>
        <div class="col-lg-8">
          <input type="text" id="member" class ="form-control", name= "member" , place_holder = "Enter Member Name" data-error="Please Enter valid Employee Name" required>
          <input type="hidden" id="member_id"  name= "member_id">
          <span class="help-block with-errors"></span> 
      </div>
    </div>
  </div>
  <div class="panel-body">
    <button type="submit" class="btn btn-success ">Add Member</button>
		<%= link_to "Cancel", workgroup_path(@workgroup.id),:class => "btn btn-danger" %>                                          
  </div>										
<% end %>

<style>
.ui-widget-content{
  width:350px;
  padding:3px;  
  background: #D3E6EA !important;
  border: none !important;
  border-radius: 5px !important;
  -webkit-border-radius:5px !important;
}
.ui-helper-hidden-accessible{
display:none;
}
</style>	

<script>
  $(function() {
  var availableTags = [];
  var workgroup_id = parseInt($("#work_group_id").val());
  $.get( "/workgroups/"+workgroup_id+"/get_employees.json", function( data ) {
      $.each( data, function( key, val ) {
       availableTags.push(val);
       
       //alert(val["id"]+" - "+val["value"]);
      });
      console.log(availableTags);
  });
  
       $( "#member" ).autocomplete({
        minLength: 2,
        source: availableTags,
        focus: function( event, ui ) {
        $( "#member" ).val( ui.item.value );
        
        return false;
        },
        select: function( event, ui ) {
        $( "#member" ).val( ui.item.value );
        $( "#member_id" ).val( ui.item.id );
        return false;
        }
        })
  });
  </script>
