      <div class="row">
  <div class="col-lg-12">
    <section class="panel">
      <header class="panel-heading">
        Work Groups <%= link_to " New Work Group",new_workgroup_path, :class =>" btn btn-success btn-xs pull-right" %> 
      </header>
  <div class="panel-body">
    <section id="unseen">
       <%= render "workgroups/list_of_workgroups" %>
              </div><br>    																																											                               
            </div><!-- /.module-->
          </section>									      				                                      
        </div><!--/.content-->
      </div>
    </div>
  </section>
</section>
                                                                                 
