<div class="wrapper">
  <div class="container">
    <div class="row">                
      <div class="span12">
        <div class="content">
          <div class="module">
            <div class="module-head"></div>
              <div id='calendar'></div>
            
        </div>
      </div>
    </div>
  </div>
</div>
<script>
  $(document).ready(function() {

    // page is now ready, initialize the calendar...

    $('#calendar').fullCalendar({
        // put your options and callbacks here
    })

});
</script>
