<div class="panel panel-info">
  <div class="panel-heading"> 
    All posts <i class="fa fa-plus pull-right icon-position" ></i><%= link_to " Add New Post", new_post_path, :class => "pull-right" %>
  </div>   
     <!--<%# form_tag posts_path, :html => {:class=>"form-horizontal row-fluid shift_from"}, :method => :get do %>		 
       <div class="panel-body">
        <div class="form-group">
          <div class="col-lg-4">
            <%# text_field_tag :search, params[:search], :class => "form-control" %>
          </div>
          <label class="control-label col-lg-4" for="basicinput">          
          <%# submit_tag "Search", :name => nil , :class => "btn btn-success" %></label>
        </div>
      </div>
     <%# end %>--> 
    </div>
     
<div class="row">
  <div class="panel-body">
    <div class="row">
      <div class="col-md-9">                      
        <div class="tab-content">
          <div class="tab-pane active" id="tab_1">
            <div class="panel-group" id="accordion2">                
            </div>
          </div>
        </div>      
      </div>
   
      <div class="col-md-3">
        <section class="panel">
          <header class="panel-heading" >
            All Posts
          </header>         
        </section>
        <ul class="vertical-menu">
          <% if @posts.present? %>                        
            <% @posts.each do |post| %>       
              <li><%= link_to post.title ,post_path(post), :class => "fa fa-bullhorn ", :remote=> true %></li>                             
            <%end%>
          <%else%>
          <div class="panel panel-success">
            <div class="panel-heading">
                <h4 class="panel-title">
                  No Posts to display.
                </h4>
            </div>
          </div>
          <%end%>               
        </ul>
      </div>          
    </div>                    
  </div>      
</div>

<script>
  $(function(){
    $(".vertical-menu li:first a").click();
  });
</script>           
			
	<% title "Posts"%>
	
	
	
