<h4>Add Bonus</h4>
<%= form_for ([@employee, @salary, @insentive]) do |f| %>
  Bonus name: <%= f.text_field :insentive_type %>&nbsp&nbsp
  Value: <%= f.text_field :value %></br>
  <%= f.submit "Submit" %>
 <% end %>
