<div class="wrapper">
  <div class="container">
    <div class="row">
      <div class="span12">
        <div class="content">
          <div class="module">
            <div class="module-head">							
              <h3> Goals </h3>
            </div>		   	         
            <div class="module-body">   
              <% if @goals.present? %> 
                <table class="table table-striped table-bordered table-condensed">
                  <thead>
                    <tr>
                      <th class="center">Title</th>
                      <th>Description</th>
                      <th>Start Date</th>
                      <th>End Date</th>
                    </tr>
                  </thead>
                <% @goals.each do |goal| %>
                  <tbody>
                    <tr>  
                      <td class="center"><%= goal.title %></td>
                      <td class="center"><%= goal.description %></td>	
                      <td class="center"><%=format_date(goal.start_date) %></td>
                      <td class="center"><%=format_date(goal.end_date) %></td>		
                    </tr>
                  </tbody>
                <% end %>
                </table>
              <% else %>  
                <div class="alert alert-success alert-dismissable">
                  <button type="button" class="close" data-dismiss="alert" aria-hidden="true">&times;</button>
                    No Goals created
                </div>                                   
              <% end %>		        
            </div><!--module -body-->     
          </div>
        </div><!--/.content-->
      </div><!--/.span12-->
    </div><!--/.row-->
  </div><!--/.container-->
</div><!--/.wrapper-->                                                         


