.media .media-avatar {
/* border: 1px solid rgba(204, 204, 204, 0.5); */
border: none !important;
height: 170px !important;
width: 170px !important;
margin-right: 110px!important;
overflow:hidden !important;
border-radius :100% !important;
}

.media .media-avatar img {
height: 170px!important;
width: 170px !important;
margin-left:20px;
border-radius :100% !important;
}


.media-body ul li{
margin-left:-25px !important;
}

.media-body ul li i{
color:#5ecad4;
}

.style .media-title , .style .module-head h3 {
font-family: 'Lato',sans-serif !important;
font-weight: 300;
color: #7b8b9d;
font-style:normal;
font-size: 16px!important;
 letter-spacing: 1px;
}



