.hero-unit{
  padding:10px;
  
}

.list{
height:50px;
padding:10px;
}

 
 li a {
font-size: 16px !important;
}

.span8{
padding-left:50px;
}

.article {
  -webkit-columns: 2 400px;       (here 2 is the count and 200px is width)
     -moz-columns: 2 400px;
          columns: 2 400px;
}


.span3{
border:solid 1px;
}

.panel-tools{
margin-top:-20px;
}

.checkbox-grey{
width:17px;
height:17px;
border-radius:2px;
background-color:#C2C2C2;
}

.article label,.article label strong{
 cursor: auto;
}

.navigation-btns li{
line-height: 20px;
display: inline-block;
padding-right: 5px;
padding-left: 5px
} 

ul .navigation-btns {
margin: 0 0 10px 7px;
}

.sidebar {
z-index: 1;
position: absolute;
width: 250px;
margin-top: 51px;
}
.navbar-default {
background-color: #f8f8f8;
border-color: #e7e7e7;
}

.home {

margin-left:1500px;
margin-top:-30px;
}
 a:hover{
text-decoration:none;
cursor: pointer;
}
.home ul{
list-style:none;
}



.sidepanel{
margin-left:300px;
margin-top:-250px;
height:250px;
}


.form-group .headings{
font-size:20px;
}

.form-group .headings i{
padding-right:25px;
}

.normalfont{
font-weight:normal
}

.profile-pic{
margin-top:-50px;
}


.navigation-btns li{
line-height: 20px;
display: inline-block;
padding-right: 5px;
padding-left: 5px
} 

ul .navigation-btns {
margin: 0 0 10px 7px;
}

.page-header{
font-size:16px;
font-weight:bold;
color:	#527A7A;
}



.nav .nav-pills ul li:hover{
background-color:black !important;
}

.nav-second-level ul li.active {
background-color:black;
}


nav.pagination {
  border:1px solid #DDD;
}

.border{
box-shadow: 0 0 10px #000000;
border-radius:3px; 
margin-bottom:20px;
}


---------------------------
#nav {
float: right;
display: inline-block;

}

div #nav {
margin: 0 auto;
padding: 0;
margin-left:240px;
}



#nav a.on {
color: #fff;
}


#nav a {
color: #666;
text-transform: uppercase;
letter-spacing: 1px;
display: inline-block;
font-size: 16px;
font-weight: 400;
line-height: 120px;
text-decoration: none;
font-family: proxima-nova, arial, sans-serif;
margin-top:-20px;
margin-left:50px;

}

#nav a:hover {
color:#fff;
}

#font a{
  font-family: proxima-nova, arial, sans-serif!important;
  color:black;
}
