

<div id="page-wrapper">
            <div class="row">
                <div class="col-lg-12">
                    <h2 class="page-header"> Calender index</h2>
                </div>
                <!-- /.col-lg-12 -->
            </div>
            <!-- /.row -->
            <div class="row">
                <div class="col-lg-12">
                    <div class="panel panel-default">
                        <div class="panel-heading">
                          Holiday Calender Form 
                        </div>
                        <div class="panel-body">
                            <div class="row">
                                <div class="col-lg-6">
                                    <% @holidayCalenders.each do |holiday_calender| %>
                                        <div class="form-group">
                                            <label style="font-weight:normal;">Event Date:</label>
                                            <%= holiday_calender.date %>                                 
                                        </div>
                                        
                                        <div class="form-group">
                                            <label style="font-weight:normal;">Event:</label>
                                            <%= holiday_calender.event %>
                                        </div>
                                        
                                        <div class="form-group">
                                            <label style="font-weight:normal;">Employee participation</label>
                                            <%= holiday_calender.mandatory_or_optional %>                                        
                                        </div>
                                        <ul class="navigation-btns" style="list-style: none;display:inline;">                                            
                                            <li><button type="submit" class="btn btn-success pull-left">Save</button> </li>  
                                        </ul>
                                  <hr>
                                   <% end %>
                                </div>
                                
                                <!-- /.col-lg-6 (nested) -->
                            </div>
                            <!-- /.row (nested) -->
                        </div>
                        <!-- /.panel-body -->
                    </div>
                    <!-- /.panel -->
                </div>
                <!-- /.col-lg-12 -->
            </div>
            <!-- /.row -->
        </div>

