<h3>All Promotions</h3>
<% @promotions.each do |p| %>
  <%= p.date_of_promotion %>
  <%= p.designation.designation_name %>
  <%= link_to 'edit', edit_employee_promotion_path(@employee.id, p.id) %>
<% end %>


