<div class="panel panel-info">
  <div class="panel-heading">
    Appraisals List For <%= @appraisal_cycle.title %> <i class="fa fa-arrow-circle-left pull-right icon-position"></i><%= link_to ' Appraisal cycles', appraisal_cycles_path, :class => "pull-right" %>
  </div>
  <div class="panel-body">
    <div class="actual-list">
      <!-- render actual page -->
      <%= render "appraisal_cycles/employee_appraisals_list"%>
    </div>
    <div class="updated-list"></div> 
  </div><!--/.panel-body-->        
</div><!--/.panel-info-->
<% title "Appraisal List" %>
