<label class = "pull-right"><a><i class="icon-edit"></i></a><%= link_to ' Edit', edit_general_investment_path(@investment) %></label>
Section : <br>
Title :<%= @investment.title %><br/>
Description: <%= @investment.description %>
