<%= form_for @leave, :url => reject_leave_history_path(@leave), :method => :post, :remote => true do |f| %>
 
  <%= label_tag "Reason"%><br>
  <%= f.text_area :feedback, :style => "margin: 0px; width: 538px; height: 167px;" %>
  <span class="help-block with-errors"></span> <br>

  <%= submit_tag "Submit",  :class=>"btn btn-success" %>
<% end %>
