<div class="panel panel-info">
  <div class="panel-heading"> 
    Leave Policy<%= link_to ' Apply Leave',  new_leave_history_path, :class => "icon-plus-sign pull-right " %>
  </div>
  <div class="row">
    <div class="col-sm-12">
      <section class="panel">        
        <div class="panel-body">
        <% if @leave.present? %>
        <table class="display table table-bordered table-striped">
            <thead>
            <tr>            
              <th>Personal Leaves Per Month</th>
              <th>Carry forword Leaves per year</th>
              <th>Maximum Carry forward Leaves</th>
            </tr>
            </thead>
            <tbody>
            <% unless @leave.nil? %>
             <tr>
              <td><%= @leave.pl_this_year %></td>
              <td> <%= @leave.eligible_carry_forward_leaves %></td>
              <td><%= @leave.max_carry_forward_leaves %></td>
             </tr>
            <% end %>
            </tbody>
        </table>
        <% else %>      
        <div class="alert alert-info alert-dismissable">
           <button type="button" class="close" data-dismiss="alert" aria-hidden="true">&times;</button>
             No Leave  for this Department
        </div>                                   
       <% end %>
       </div>
      </section>
    </div>
  </div>
</div>  
