<div class="module">
					 <div class="module-head"> 
                   <h3>Reporting Leaves</h3>
            </div>    
          
            <%= render 'shared/applied_leaves'%>
                            
           <%= render 'shared/leaves_list'%>
  </div>
