<section class="panel panel-info">
  <header class="panel-heading">      
    Policy Details <i class="fa fa-plus pull-right" style="margin-top:5px;"></i><%= link_to 'New Policy', new_policy_path, :class => "pull-right" %>
  </header>
</section>

                                                    
<div class="row">
  <div class="panel-body">
    <div class="row">
      <div class="col-md-9">                      
        <div class="tab-content">
          <div class="tab-pane active" id="tab_1">
            <div class="panel-group" id="accordion1">                
            </div>
          </div>
        </div>      
      </div>
   
      <div class="col-md-3">
        <section class="panel">
          <header class="panel-heading" >
            All Policies
          </header>         
        </section>
        <ul class="vertical-menu">
          <% if @policies.present? %> 
          <% @policies.each do |policy| %> 
          <li><%= link_to policy.title ,policy_path(policy), :class => "fa fa-bullhorn ", :remote=> true %></a></li>
          <%end%>
          <%else%>
          <div class="panel panel-success">
            <div class="panel-heading">
                <h4 class="panel-title">
                  No policies to display.
                </h4>
            </div>
          </div>
          <%end%>               
        </ul>
      </div>          
    </div>                    
  </div>      
</div>

  
                        
                        
    


        

<script>
$(function(){
  $(".vertical-menu li:first a").click();
});
</script>
