<div class="wrapper">
	<div class="container">
		<div class="row">     			
			<div class="span8">	
			  <div class="module">
          <div class="module-head">
			      <h3>Ploicy Details</h3>			      
	        </div>			
		      
         </div><!--/.module-->
		  </div><!--/.span4-->
	  </div>				
  </div>	
</div>	
